Repository svthalia/concrexit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jorritboer, @LCKnol, @wdoeland, @ColonelPhantom, @se-bastiaan, @JobDoesburg, @nvoers, @pingiun, @svthalia/server, @svthalia/illuminati

Format
  website/events/api/v2/admin/filters.py
Owners: @ColonelPhantom

Fix TinyMCE settings
  website/thaliawebsite/settings.py
Owners: @svthalia/server

TinyMCE5 (#2201)
  poetry.lock
  pyproject.toml
  website/activemembers/models.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/urls.py
Owners: @svthalia/server, @pingiun

Fix tinymce
  website/thaliawebsite/settings.py
Owners: @svthalia/server

Fix settings
  website/thaliawebsite/settings.py
Owners: @svthalia/server

Change height
  website/thaliawebsite/settings.py
Owners: @svthalia/server

black...
  website/thaliawebsite/settings.py
Owners: @svthalia/server

Fix tinymce (#2206)
  website/thaliawebsite/settings.py
Owners: @svthalia/server

Revert "Revert "Fix newsletter for up to three local partners (#2105)"" (#2197)
  website/newsletters/emails.py
  website/newsletters/services.py
  website/newsletters/templates/newsletters/email.html
  website/newsletters/templates/newsletters/email.txt
  website/newsletters/views.py
Owners: @Jorritboer

Update dependency Pillow to v9.0.1
  poetry.lock
  pyproject.toml
Owners: none

Update dependency Faker to v11.4.0
  poetry.lock
  pyproject.toml
Owners: none

Add singlepage for confidential contact person (#2173)
  website/partners/templatetags/partner_cards.py
  website/singlepages/sitemaps.py
  website/singlepages/static/img/contact_persons/campus-swing.jpeg
  website/singlepages/static/img/contact_persons/flowers-huygens.jpeg
  website/singlepages/static/img/contact_persons/hallway-huygens.jpeg
  website/singlepages/static/img/contact_persons/huygens-sunset.jpeg
  website/singlepages/static/img/contact_persons/isolde-hoogendonk.jpeg
  website/singlepages/static/img/contact_persons/studying-huygens.jpeg
  website/singlepages/static/img/contact_persons/tom-koning.jpeg
  website/singlepages/templates/singlepages/student_well-being.html
  website/singlepages/urls.py
  website/singlepages/views.py
  website/thaliawebsite/menus.py
  website/thaliawebsite/static/css/base.scss
Owners: @wdoeland, @pingiun

Move partner events to events package as 'external events' (#2007)
  website/events/admin/__init__.py
  website/events/admin/event.py
  website/events/admin/external_event.py
  website/events/admin/filters.py
  website/events/admin/forms.py
  website/events/admin/inlines.py
  website/events/admin/registration.py
  website/events/admin/views.py
  website/events/api/calendarjs/serializers.py
  website/events/api/calendarjs/urls.py
  website/events/api/calendarjs/views.py
  website/events/api/v2/serializers/external_event.py
  website/events/api/v2/urls.py
  website/events/api/v2/views.py
  website/events/forms.py
  website/events/migrations/0054_externalevent.py
  website/events/models/categories.py
  website/events/models/event.py
  website/events/models/external_event.py
  website/events/static/events/css/style.scss
  website/events/static/events/js/main.js
  website/partners/admin.py
  website/partners/api/calendarjs/__init__.py
  website/partners/api/calendarjs/serializers.py
  website/partners/api/calendarjs/urls.py
  website/partners/api/calendarjs/views.py
  website/partners/api/v1/serializers.py
  website/partners/api/v1/viewsets.py
  website/partners/api/v2/filters.py
  website/partners/api/v2/serializers/__init__.py
  website/partners/api/v2/serializers/partner_event.py
  website/partners/api/v2/urls.py
  website/partners/api/v2/views.py
  website/partners/migrations/0022_move_to_external_events.py
  website/partners/migrations/0023_delete_partnerevent.py
  website/partners/models.py
  website/thaliawebsite/api/calendarjs/urls.py
  website/utils/management/commands/createfixtures.py
Owners: @ColonelPhantom, @wdoeland, @pingiun

Update dependency Django to v4
  poetry.lock
  pyproject.toml
Owners: none

Fix django4 things
  website/payments/admin.py
  website/payments/models.py
Owners: @JobDoesburg

Update dependency Django to v4
  poetry.lock
  pyproject.toml
Owners: none

Fix CI
  .github/workflows/test.yaml
  website/payments/migrations/0019_alter_payment_paid_by.py
Owners: @svthalia/illuminati, @JobDoesburg

Fix CI
  .github/workflows/test.yaml
Owners: @svthalia/illuminati

Fix test
  website/announcements/tests.py
Owners: none

Use localhost for postgres in testing
  website/thaliawebsite/settings.py
Owners: @svthalia/server

Added option for membership to end in future. (#2202)
  infra/nixos/concrexit.nix
  website/activemembers/management/commands/revoke_staff.py
  website/activemembers/models.py
  website/activemembers/services.py
Owners: @svthalia/server

Add shoe size to profile
  website/members/admin.py
  website/members/forms.py
  website/members/migrations/0041_profile_shoe_size.py
  website/members/models/profile.py
  website/members/templates/members/user/profile.html
Owners: @Jorritboer

Put album title and date on the same line
  website/photos/templates/photos/album.html
Owners: none

Add DATETIME_FORMAT
  website/thaliawebsite/settings.py
Owners: @svthalia/server

formatting
  website/thaliawebsite/settings.py
Owners: @svthalia/server

Use correct port
  .github/workflows/test.yaml
Owners: @svthalia/illuminati

Make documents member-only by default (#2103)
  website/documents/migrations/0016_alter_document_members_only.py
  website/documents/models.py
Owners: @LCKnol

Set external-event text color to black/white
  website/events/static/events/css/style.scss
Owners: @ColonelPhantom

Fix icon alignment and use span instead of float
  website/photos/templates/photos/album.html
Owners: none

Update website/events/api/v2/admin/filters.py
  website/events/api/v2/admin/filters.py
Owners: @ColonelPhantom

Update dependency Faker to v12
  poetry.lock
  pyproject.toml
Owners: none

Update website/events/models/event_registration.py
  website/events/models/event_registration.py
Owners: @ColonelPhantom

Fmt
  website/events/models/event_registration.py
Owners: @ColonelPhantom

Update dependency pylint-django to v2.5.1
  poetry.lock
  pyproject.toml
Owners: none

Do not revoke staff permission for superusers
  website/activemembers/services.py
Owners: none

Fix margins on the event page
  website/events/templates/events/event.html
Owners: @ColonelPhantom

Fix format string in thabloid code
  website/thabloid/models.py
Owners: @ColonelPhantom

Do not revoke staff permission for superusers (#2218)
  website/activemembers/services.py
Owners: none

Set external-event text color to black/white (#2209)
  website/events/static/events/css/style.scss
Owners: @ColonelPhantom

Add DATETIME_FORMAT (#2208)
  website/thaliawebsite/settings.py
Owners: @svthalia/server

.github/CODEOWNERS:

# CODEOWNERS FOR CONCREXIT APPS
/website/members @Jorritboer 
/website/documents @LCKnol 
/website/mailinglists @wdoeland
/website/merchandise @LCKnol 
/website/thabloid @ColonelPhantom 
/website/partners @wdoeland 
/website/events @ColonelPhantom 
/website/newsletters @Jorritboer 
/website/registrations @se-bastiaan 
/website/payments @JobDoesburg 
/website/promotion @nvoers
/website/singlepages @pingiun
/website/shortlinks @pingiun 
/website/sales @JobDoesburg 
/website/utils @pingiun 
/website/thaliawebsite @pingiun

# SPECIAL SERVER-RELATED CONFIG
/website/thaliawebsite/settings.py @svthalia/server  
/scripts @svthalia/server  
/infra @svthalia/server  
/*.nix @svthalia/server  

# ANYTHING WORKFLOW-RELATED
/.github @svthalia/illuminati
