Repository svthalia/concrexit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jorritboer, @LCKnol, @wdoeland, @ColonelPhantom, @se-bastiaan, @JobDoesburg, @nvoers, @pingiun, @svthalia/server, @svthalia/illuminati

.github/CODEOWNERS:

# CODEOWNERS FOR CONCREXIT APPS
/website/members @Jorritboer 
/website/documents @LCKnol 
/website/mailinglists @wdoeland
/website/merchandise @LCKnol 
/website/thabloid @ColonelPhantom 
/website/partners @wdoeland 
/website/events @ColonelPhantom 
/website/newsletters @Jorritboer 
/website/registrations @se-bastiaan 
/website/payments @JobDoesburg 
/website/promotion @nvoers
/website/singlepages @pingiun
/website/shortlinks @pingiun 
/website/sales @JobDoesburg 
/website/utils @pingiun 
/website/thaliawebsite @pingiun

# SPECIAL SERVER-RELATED CONFIG
/website/thaliawebsite/settings.py @svthalia/server  
/scripts @svthalia/server  
/infra @svthalia/server  
/*.nix @svthalia/server  

# ANYTHING WORKFLOW-RELATED
/.github @svthalia/illuminati

Update dependency sentry-sdk to v1.5.6
  poetry.lock
  pyproject.toml
Owners: none

Update actions/setup-python action to v3
  .github/workflows/test.yaml
Owners: @svthalia/illuminati

Update dependency Django to v4.0.3
  poetry.lock
  pyproject.toml
Owners: none

Update dependency Faker to v13.3.0
  poetry.lock
  pyproject.toml
Owners: none

Update dependency google-api-python-client to v2.39.0
  poetry.lock
  pyproject.toml
Owners: none

adjusted emails, added small functionality
  website/promotion/admin.py
  website/promotion/apps.py
  website/promotion/emails.py
  website/promotion/forms.py
  website/promotion/migrations/0001_initial.py
  website/promotion/models.py
  website/promotion/services.py
  website/promotion/signals.py
  website/promotion/templates/requests/new_request_email.txt
  website/promotion/templates/requests/weekly_overview.txt
Owners: @nvoers

Update actions/checkout action
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-production.yaml
  .github/workflows/deploy-staging.yaml
  .github/workflows/nix.yaml
  .github/workflows/release-terraform-plan.yaml
  .github/workflows/test.yaml
Owners: @svthalia/illuminati

Update actions/labeler action to v4
  .github/workflows/labeler.yaml
Owners: @svthalia/illuminati

Only use manifest storage in production/staging
  website/thaliawebsite/settings.py
Owners: @svthalia/server

Immutable payables
  website/payments/payables.py
  website/pizzas/payables.py
  website/sales/payables.py
Owners: @JobDoesburg

Fix prevent saving models after payment
  website/events/models/event_registration.py
  website/events/payables.py
  website/payments/payables.py
  website/pizzas/payables.py
  website/registrations/payables.py
  website/sales/payables.py
Owners: @ColonelPhantom, @JobDoesburg, @se-bastiaan

Fix testcase
  website/payments/payables.py
  website/pizzas/payables.py
  website/sales/tests/test_models.py
Owners: @JobDoesburg

Fixes
  website/payments/payables.py
  website/sales/admin/order_admin.py
  website/sales/models/order.py
Owners: @JobDoesburg

Fix testcase
  website/payments/payables.py
Owners: @JobDoesburg

Fix payment widget value in forms
  website/payments/widgets.py
Owners: @JobDoesburg

Always use currently committed payment field
  website/payments/payables.py
Owners: @JobDoesburg

Fix special prize for event registrations
  website/events/payables.py
Owners: @ColonelPhantom

Fix payment widget value
  website/payments/widgets.py
Owners: @JobDoesburg

Fix deleting payments
  website/payments/payables.py
Owners: @JobDoesburg

Fix merge
  website/events/models/event_registration.py
  website/sales/models/order.py
Owners: @ColonelPhantom, @JobDoesburg

Fix tests
  website/payments/payables.py
  website/payments/tests/__mocks__.py
  website/payments/widgets.py
  website/registrations/services.py
  website/registrations/tests/test_admin.py
  website/registrations/tests/test_models.py
  website/sales/tests/test_models.py
Owners: @JobDoesburg, @se-bastiaan

Update actions/download-artifact action to v3
  .github/workflows/test.yaml
Owners: @svthalia/illuminati
