Repository svthalia/concrexit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jorritboer, @LCKnol, @wdoeland, @ColonelPhantom, @se-bastiaan, @JobDoesburg, @nvoers, @pingiun, @svthalia/server, @svthalia/illuminati

Fix alumni page
  website/events/services.py
  website/events/views.py
Owners: @ColonelPhantom

Fix margins on the event page (#2219)
  website/events/templates/events/event.html
Owners: @ColonelPhantom

Update dependency google-api-python-client to v2.37.0
  poetry.lock
  pyproject.toml
Owners: none

Fix image width in grid items for chromium browsers
  website/thaliawebsite/static/css/base.scss
Owners: @pingiun

Fix format string in thabloid code (#2220)
  website/thabloid/models.py
Owners: @ColonelPhantom

Fix alumni page (#2217)
  website/events/services.py
  website/events/views.py
Owners: @ColonelPhantom

Fix image width in grid items for chromium browsers (#2221)
  website/thaliawebsite/static/css/base.scss
Owners: @pingiun

Add queued filter on event registrations admin and fix queue_position sorting (#2203)
  website/events/api/v2/admin/filters.py
  website/events/api/v2/admin/views.py
  website/events/models/event_registration.py
  website/events/tests/test_models.py
Owners: @ColonelPhantom

Cache static content for maximum time
  infra/nixos/concrexit.nix
Owners: @svthalia/server

Fix internation office url in student well-being page
  website/singlepages/templates/singlepages/student_well-being.html
Owners: @pingiun

Enable staticfiles with manifest
  website/thaliawebsite/settings.py
  website/thaliawebsite/static/css/bootstrap.min.css
  website/thaliawebsite/static/css/fontawesome/brands.css
  website/thaliawebsite/static/css/fontawesome/brands.css.map
  website/thaliawebsite/static/css/fontawesome/fontawesome.css
  website/thaliawebsite/static/css/fontawesome/fontawesome.css.map
  website/thaliawebsite/static/css/fontawesome/regular.css
  website/thaliawebsite/static/css/fontawesome/regular.css.map
  website/thaliawebsite/static/css/fontawesome/solid.css
  website/thaliawebsite/static/css/fontawesome/solid.css.map
  website/thaliawebsite/static/css/fontawesome/v4-shims.css
  website/thaliawebsite/static/css/fontawesome/v4-shims.css.map
  website/thaliawebsite/static/css/swagger-ui.css
  website/thaliawebsite/static/js/bootstrap.bundle.min.js
  website/thaliawebsite/static/js/swagger-ui-bundle.js
  website/thaliawebsite/static/js/swagger-ui-standalone-preset.js
  website/thaliawebsite/storage/__init__.py
  website/thaliawebsite/storage/manifest.py
Owners: @svthalia/server, @pingiun

Remove redundant class
  website/events/templates/events/event.html
Owners: @ColonelPhantom

Update link to study advisors
  website/singlepages/templates/singlepages/student_well-being.html
Owners: @pingiun

Display random current summaries instead of always the latest
  website/education/templatetags/frontpage_summaries.py
Owners: none

Remove redundant class (#2225)
  website/events/templates/events/event.html
Owners: @ColonelPhantom

Update link to study advisors (#2224)
  website/singlepages/templates/singlepages/student_well-being.html
Owners: @pingiun

Fix internation office url in student well-being page (#2222)
  website/singlepages/templates/singlepages/student_well-being.html
Owners: @pingiun

Add endpoint for unpublished external events to CalendarJS API
  website/events/api/calendarjs/serializers.py
  website/events/api/calendarjs/urls.py
  website/events/api/calendarjs/views.py
  website/events/static/events/js/main.js
Owners: @ColonelPhantom

Update dependency sphinx to v4.4.0
  poetry.lock
  pyproject.toml
Owners: none

Fix unpublished external event admin link
  website/events/api/calendarjs/views.py
Owners: @ColonelPhantom

Set version to "develop" on master
  pyproject.toml
Owners: none

Set version number to DEV on master
  pyproject.toml
Owners: none

Fix unpublished external event admin link (#2229)
  website/events/api/calendarjs/views.py
Owners: @ColonelPhantom

Fix poetry version number
  pyproject.toml
Owners: none

Set version number for v41
  pyproject.toml
Owners: none

Don't use outdated plan
  .github/workflows/deploy-production.yaml
Owners: @svthalia/illuminati

Update dependency pylint-django to v2.5.2
  poetry.lock
  pyproject.toml
Owners: none

Update dependency google-api-python-client to v2.38.0
  poetry.lock
  pyproject.toml
Owners: none

Plan on the production environment
  .github/workflows/deploy-production.yaml
  .github/workflows/release-terraform-plan.yaml
  flake.nix
  infra/stages/production/.terraform.lock.hcl
Owners: @svthalia/illuminati, @svthalia/server

Fix vacancy JS; presumably missed during a Bootstrap update
  website/partners/static/partners/js/main.js
Owners: @wdoeland

Fix URL's for vacancies from inactive partners
  website/partners/models.py
  website/partners/templatetags/partner_cards.py
Owners: @wdoeland

fix scaling
  website/partners/static/partners/css/style.scss
  website/partners/templates/partners/vacancy_card.html
Owners: @wdoeland

Also refactor user profile pages
  website/members/templates/members/user/edit_profile.html
  website/members/templates/members/user/email_change.html
  website/members/templates/members/user/email_change_confirmed.html
  website/members/templates/members/user/email_change_requested.html
  website/members/templates/members/user/email_change_verified.html
  website/members/templates/members/user/profile.html
Owners: @Jorritboer

Revert "Also refactor user profile pages"
  website/members/templates/members/user/edit_profile.html
  website/members/templates/members/user/email_change.html
  website/members/templates/members/user/email_change_confirmed.html
  website/members/templates/members/user/email_change_requested.html
  website/members/templates/members/user/email_change_verified.html
  website/members/templates/members/user/profile.html
Owners: @Jorritboer

Also refactor user profile pages
  website/members/templates/members/user/edit_profile.html
  website/members/templates/members/user/email_change.html
  website/members/templates/members/user/email_change_confirmed.html
  website/members/templates/members/user/email_change_requested.html
  website/members/templates/members/user/email_change_verified.html
  website/members/templates/members/user/profile.html
Owners: @Jorritboer

Fix small-page title mis-alignment
  website/thaliawebsite/static/css/base.scss
Owners: @pingiun

Protect deleting payments for orders
  website/sales/migrations/0003_alter_order_payment.py
  website/sales/models/order.py
Owners: @JobDoesburg

Plan on the production environment (#2234)
  .github/workflows/deploy-production.yaml
  .github/workflows/release-terraform-plan.yaml
  flake.nix
  infra/stages/production/.terraform.lock.hcl
Owners: @svthalia/illuminati, @svthalia/server

Update dependency python-magic to v0.4.25
  poetry.lock
  pyproject.toml
Owners: none

Update dependency Faker to v13
  poetry.lock
  pyproject.toml
Owners: none

.github/CODEOWNERS:

# CODEOWNERS FOR CONCREXIT APPS
/website/members @Jorritboer 
/website/documents @LCKnol 
/website/mailinglists @wdoeland
/website/merchandise @LCKnol 
/website/thabloid @ColonelPhantom 
/website/partners @wdoeland 
/website/events @ColonelPhantom 
/website/newsletters @Jorritboer 
/website/registrations @se-bastiaan 
/website/payments @JobDoesburg 
/website/promotion @nvoers
/website/singlepages @pingiun
/website/shortlinks @pingiun 
/website/sales @JobDoesburg 
/website/utils @pingiun 
/website/thaliawebsite @pingiun

# SPECIAL SERVER-RELATED CONFIG
/website/thaliawebsite/settings.py @svthalia/server  
/scripts @svthalia/server  
/infra @svthalia/server  
/*.nix @svthalia/server  

# ANYTHING WORKFLOW-RELATED
/.github @svthalia/illuminati
