Repository svthalia/concrexit, pull requests merged in 2020-08, with the labels that each got.

#1172 Remove dependency of pizzas app on Payment.NONE in API
  website/payments/api/fields.py
  website/pizzas/api/viewsets.py
  website/pizzas/templates/pizzas/admin/orders.html
  website/pizzas/templates/pizzas/index.html
Labels: chore, payments, pizzas

#1169 Add responsible disclosure policy
  website/singlepages/locale/nl/LC_MESSAGES/django.mo
  website/singlepages/locale/nl/LC_MESSAGES/django.po
  website/singlepages/templates/singlepages/responsible_disclosure.html
  website/singlepages/urls.py
  website/singlepages/views.py
  website/thaliawebsite/locale/nl/LC_MESSAGES/django.mo
  website/thaliawebsite/locale/nl/LC_MESSAGES/django.po
  website/thaliawebsite/templates/base.html
Labels: feature, singlepages

#1174 Change Docker repo to Github Packages
  .github/workflows/build-dependencies-docker.yaml
  .github/workflows/build-production-docker.yaml
  .github/workflows/test.yaml
  Dockerfile
  docker-compose.yml
Labels: chore

#1185 Change text of registrations payment email
  website/registrations/locale/nl/LC_MESSAGES/django.mo
  website/registrations/locale/nl/LC_MESSAGES/django.po
  website/registrations/templates/registrations/email/registration_accepted.txt
  website/registrations/templates/registrations/email/renewal_accepted.txt
Labels: registrations

#1186 Change text of registrations payment email
  website/registrations/locale/nl/LC_MESSAGES/django.mo
  website/registrations/locale/nl/LC_MESSAGES/django.po
  website/registrations/templates/registrations/email/registration_accepted.txt
  website/registrations/templates/registrations/email/renewal_accepted.txt
Labels: registrations

#1196 Fixed deleting of registration information fields
  website/events/admin.py
Labels: bug, events
