Repository svthalia/concrexit, pull requests merged in 2020-11, with the labels that each got.

#1362 Enable Github Actions test workflow on pull request event
  .github/workflows/test.yaml
Labels: chore

#1319 Fix automatic event fill in newsletter
  website/newsletters/static/admin/newsletters/js/forms.js
Labels: bug, newsletter

#1369 Remove dutch title from search fields
  website/photos/api/viewsets.py
Labels: bug, photos

#1371 Starting date of honorary membership is now displayed on a users publ…
  website/members/templates/members/user/profile.html
Labels: members

#1370 Added html classes to pull partner content to bottom
  website/partners/templates/partners/index.html
Labels: partners

#1382 Add OpenAPI scheme generation and Swagger UI
  docs/thaliawebsite.api.rst
  docs/thaliawebsite.api.v1.rst
  poetry.lock
  pyproject.toml
  website/events/api/viewsets/event_registrations.py
  website/payments/api/fields.py
  website/thaliawebsite/api/openapi.py
  website/thaliawebsite/api/v1/__init__.py
  website/thaliawebsite/api/v1/urls.py
  website/thaliawebsite/context_processors.py
  website/thaliawebsite/settings/settings.py
  website/thaliawebsite/static/css/swagger-ui.css
  website/thaliawebsite/static/js/swagger-ui-bundle.js
  website/thaliawebsite/static/js/swagger-ui-standalone-preset.js
  website/thaliawebsite/templates/swagger-oauth2-redirect.html
  website/thaliawebsite/templates/swagger.html
  website/thaliawebsite/urls.py
Labels: events, feature, payments

#1361 Profile page crash
  website/members/views.py
Labels: hacktoberfest-accepted

#1384 Fix mistakes in the OpenAPI spec
  website/thaliawebsite/api/openapi.py
Labels: bug, events

#1391 Fix error in Remove MultilingualField in education
  website/education/views.py
Labels: bug, education

#1392 Change batch export to use initials and last name
  website/payments/admin_views.py
  website/payments/tests/test_admin_views.py
Labels: bug

#1390 Do not show Thalia Pay buttons if master setting disabled
  website/payments/models.py
  website/payments/tests/test_signals.py
Labels: bug, payments

#1380 Refactor batch processing
  website/payments/admin_views.py
  website/payments/services.py
  website/payments/tests/test_services.py
Labels: bug, payments

#1395 Add lustrum styling to context processors
  website/thaliawebsite/settings/production.py
Labels: bug

#1396 Only check balance when tpay is enabled
  website/payments/admin.py
  website/payments/tests/test_admin.py
Labels: bug, payments

#1399 Remove language code from documents
  website/documents/views.py
Labels: bug, documents

#1394 Added API endpoints for slides
  docs/announcements.api.rst
  docs/announcements.rst
  website/announcements/api/__init__.py
  website/announcements/api/serializers.py
  website/announcements/api/urls.py
  website/announcements/api/viewsets.py
  website/events/api/serializers/events/list.py
  website/events/api/serializers/events/retrieve.py
  website/thaliawebsite/api/v1/urls.py
Labels: announcements, api, events, feature

#1407 Update responsable disclosure
  website/singlepages/templates/singlepages/responsible_disclosure.html
Labels: chore, singlepages

#1413 Add renovate automerge to the config for non-major updates
  renovate.json
Labels: chore

#1411 Deploy to staging via Nix
  .github/workflows/nix.yaml
  .gitignore
  nix/concrexit.nix
  nix/configuration.nix
  nix/default.nix
  nix/sources.json
  nix/sources.nix
  nix/timed-command.nix
  release.nix
  resources/maintenance.html
  scripts/run-from-nixpkgs.sh
  scripts/send-conf-and-switch.sh
  scripts/test-vm.sh
  shell.nix
  website/mailinglists/signals.py
  website/photos/tests/test_admin.py
  website/thaliawebsite/settings/production.py
Labels: mailinglists, photos

#1421 Added staging-branch specific deploy
  .github/workflows/nix.yaml
Labels: server, skip-changelog

#1426 Disallow zero euro payments
  website/events/tests/test_api.py
  website/payments/models.py
  website/payments/services.py
  website/payments/templates/payments/templatetags/payment_button.html
  website/payments/templates/payments/widgets/payment.html
  website/payments/templatetags/payments.py
  website/payments/tests/test_models.py
  website/payments/tests/test_services.py
  website/payments/tests/test_views.py
  website/payments/views.py
Labels: bug, events, payments

#1423 Added debug toolbar
  poetry.lock
  pyproject.toml
  website/thaliawebsite/settings/settings.py
  website/thaliawebsite/urls.py
Labels: feature
