Repository svthalia/concrexit, pull requests merged in 2020-05, with the labels that each got.

#1090 Fix newsletter showing unpublished events
  website/newsletters/services.py
Labels: bug, newsletter

#1088 Add Thabloid opt-out functionality
  website/members/admin.py
  website/members/api/serializers.py
  website/members/forms.py
  website/members/locale/nl/LC_MESSAGES/django.mo
  website/members/locale/nl/LC_MESSAGES/django.po
  website/members/migrations/0037_profile_receive_magazine.py
  website/members/models/profile.py
Labels: feature, members

#1102 Refactor the information check emails to require only a single translation
  website/members/locale/nl/LC_MESSAGES/django.mo
  website/members/locale/nl/LC_MESSAGES/django.po
  website/members/templates/members/email/information_check.html
  website/members/templates/members/email/information_check.txt
Labels: members, refactor

#1103 Fix lowercasing of manual usernames in registrations
  website/registrations/services.py
  website/registrations/tests/test_services.py
Labels: bug, registrations

#1104 Fix translations for the payment model
  website/payments/locale/nl/LC_MESSAGES/django.mo
  website/payments/locale/nl/LC_MESSAGES/django.po
  website/payments/migrations/0007_auto_20200510_2042.py
  website/payments/models.py
Labels: bug, payments

#1114 Remove almanac page
  website/singlepages/locale/nl/LC_MESSAGES/django.mo
  website/singlepages/locale/nl/LC_MESSAGES/django.po
  website/singlepages/templates/singlepages/almanac.html
  website/singlepages/urls.py
  website/singlepages/views.py
  website/thaliawebsite/locale/nl/LC_MESSAGES/django.mo
  website/thaliawebsite/locale/nl/LC_MESSAGES/django.po
  website/thaliawebsite/menus.py
  website/thaliawebsite/settings/settings.py
Labels: chore, singlepages

#1113 Improve summary reward functionality
  website/education/admin.py
  website/education/forms.py
  website/education/locale/nl/LC_MESSAGES/django.mo
  website/education/locale/nl/LC_MESSAGES/django.po
  website/education/templates/education/courses.html
Labels: education, feature

#1111 Add more information to the README
  README.md
Labels: chore

#1110 Remove obsolete permissions
  website/activemembers/fixtures/member_groups.json
  website/activemembers/locale/nl/LC_MESSAGES/django.mo
  website/activemembers/locale/nl/LC_MESSAGES/django.po
  website/activemembers/migrations/0038_auto_20200513_2212.py
  website/activemembers/models.py
  website/thaliawebsite/settings/settings.py
Labels: activemembers, chore

#1101 Disable Django sites module since it is obsolete
  website/thaliawebsite/migrations/0001_initial.py
  website/thaliawebsite/migrations/__init__.py
  website/thaliawebsite/settings/settings.py
Labels: bug

#1059 Refactor and fix photos app uploading code
  docs/photos.rst
  website/photos/admin.py
  website/photos/apps.py
  website/photos/forms.py
  website/photos/locale/nl/LC_MESSAGES/django.mo
  website/photos/locale/nl/LC_MESSAGES/django.po
  website/photos/models.py
  website/photos/services.py
  website/photos/signals.py
  website/photos/tests/test_views.py
  website/photos/validators.py
  website/thaliawebsite/settings/settings.py
Labels: photos, refactor

#1109 Remove activemembers Nextcloud permissions and API
  docs/activemembers.rst
  website/activemembers/api/__init__.py
  website/activemembers/api/permissions.py
  website/activemembers/api/serializers.py
  website/activemembers/api/urls.py
  website/activemembers/api/views.py
  website/members/locale/nl/LC_MESSAGES/django.mo
  website/members/locale/nl/LC_MESSAGES/django.po
  website/members/migrations/0038_auto_20200513_2143.py
  website/members/models/member.py
  website/thaliawebsite/settings/settings.py
  website/thaliawebsite/urls.py
Labels: activemembers, chore, members

#1121 Simplify if statement
  website/events/services.py
Labels: chore, events

#1123 Fix "complex_logic" issue in website/activemembers/models.py
  website/activemembers/models.py
Labels: activemembers, chore

#1128 Check membership overlap with overlaps()
  website/activemembers/models.py
  website/members/models/membership.py
  website/utils/snippets.py
Labels: activemembers, chore, members

#1124 Don't show warning for cancellation while on waiting list
  website/events/locale/nl/LC_MESSAGES/django.mo
  website/events/locale/nl/LC_MESSAGES/django.po
  website/events/templates/events/event.html
  website/events/tests/test_views.py
Labels: bug, events

#1126 Fix "similar-code" issue in website/activemembers/admin.py
  website/activemembers/admin.py
Labels: activemembers, chore

#1130 Change old style % formatting with f strings
  website/documents/models.py
  website/events/api/serializers/event_registrations/list.py
  website/payments/models.py
  website/registrations/tests/test_views.py
  website/registrations/views.py
Labels: chore, documents, events, payments, registrations

#1131 Remove old style classes
  website/activemembers/backends.py
  website/events/admin.py
  website/events/decorators.py
  website/events/forms.py
  website/members/decorators.py
  website/newsletters/admin.py
  website/partners/models.py
  website/pizzas/decorators.py
  website/pushnotifications/admin.py
  website/thabloid/models.py
  website/utils/conscribo/objects.py
  website/utils/translation.py
Labels: activemembers, chore, events, members, newsletter, partners, pizzas, push-notifications, thabloid

#1129 Remove weird strings created by black
  website/activemembers/admin.py
  website/activemembers/models.py
  website/announcements/models.py
  website/education/admin.py
  website/education/models.py
  website/events/emails.py
  website/events/models/event.py
  website/mailinglists/models.py
  website/mailinglists/tests/test_gsuite.py
  website/members/admin.py
  website/members/forms.py
  website/members/models/profile.py
  website/newsletters/models.py
  website/partners/models.py
  website/payments/models.py
  website/photos/models.py
  website/pizzas/views.py
  website/registrations/forms.py
  website/registrations/models.py
  website/registrations/services.py
  website/registrations/tests/test_models.py
  website/registrations/tests/test_services.py
  website/registrations/tests/test_views.py
  website/registrations/views.py
  website/thaliawebsite/settings/production.py
  website/thaliawebsite/settings/settings.py
  website/utils/management/commands/createfixtures.py
  website/utils/management/commands/createreviewuser.py
  website/utils/translation.py
Labels: activemembers, announcements, chore, education, events, mailinglists, members, newsletter, partners, payments, photos, pizzas, registrations
