Repository svthalia/concrexit, pull requests merged in 2020-10, with the labels that each got.

#1274 Add withdrawal date to batches
  website/payments/admin.py
  website/payments/migrations/0012_batch_withdrawal_date.py
  website/payments/models.py
  website/payments/templates/payments/email/tpay_withdrawal_notice_mail.txt
  website/payments/templates/payments/payment_list.html
  website/payments/tests/test_admin.py
  website/thaliawebsite/settings/settings.py
Labels: feature, payments

#1275 Add doc page for new members on where to find code
  docs/index.rst
  docs/website-structure.rst
Labels: docs

#1272 Remove MultilingualField in documents
  website/documents/forms.py
  website/documents/migrations/0015_remove_multilang_field.py
  website/documents/models.py
  website/documents/tests/test_views.py
Labels: documents

#1284 Remove unused importphotos command
  website/photos/management/commands/importphotos.py
Labels: photos, refactor

#1289 Remove unused imports
  website/activemembers/models.py
  website/announcements/urls.py
  website/documents/forms.py
  website/education/models.py
  website/education/views.py
  website/merchandise/urls.py
  website/newsletters/urls.py
  website/partners/urls.py
  website/payments/models.py
  website/pizzas/signals.py
  website/pizzas/views.py
  website/registrations/forms.py
  website/registrations/signals.py
  website/registrations/tests/test_admin.py
  website/registrations/tests/test_emails.py
  website/registrations/tests/test_models.py
  website/singlepages/views.py
  website/thaliawebsite/menus.py
Labels: activemembers, announcements, documents, education, merchandise, newsletter, partners, payments, pizzas, registrations, singlepages

#1288 Mark static methods using the staticmethod decorator
  website/documents/forms.py
Labels: documents

#1287 Use admin.register decorator instead of admin.site.register call
  website/photos/admin.py
  website/thabloid/admin.py
Labels: photos, thabloid

#1286 Add documentation to the thabloid app.
  website/thabloid/admin.py
  website/thabloid/apps.py
  website/thabloid/models.py
  website/thabloid/sitemaps.py
  website/thabloid/templatetags/thabloid_cards.py
  website/thabloid/tests/test_thabloid.py
  website/thabloid/urls.py
  website/thabloid/views.py
Labels: thabloid

#1285 Add documentation to the photos app
  website/photos/admin.py
  website/photos/api/serializers.py
  website/photos/api/viewsets.py
  website/photos/apps.py
  website/photos/forms.py
  website/photos/models.py
  website/photos/services.py
  website/photos/signals.py
  website/photos/templatetags/photos_cards.py
  website/photos/validators.py
  website/photos/views.py
Labels: photos, thabloid

#1276 Prevent event registration cancelling after payment
  website/events/services.py
Labels: events, feature

#1293 Save newsletter to disk when sending
  website/newsletters/emails.py
  website/newsletters/management/commands/createnewsletterhtml.py
  website/newsletters/services.py
Labels: bug, newsletter

#1295 Remove NL preview button from newsletters admin
  website/newsletters/templates/admin/newsletters/change_form.html
Labels: bug, newsletter

#1281 Fix localisation of user-facing activemembers views
  website/activemembers/api/viewsets.py
  website/activemembers/static/activemembers/images/nl/placeholder.png
  website/activemembers/static/activemembers/images/nl/placeholder_overview.png
  website/activemembers/static/activemembers/images/placeholder.png
  website/activemembers/static/activemembers/images/placeholder_overview.png
  website/activemembers/templates/activemembers/board_index.html
  website/activemembers/templates/activemembers/committee_index.html
  website/activemembers/templates/activemembers/society_index.html
  website/activemembers/templatetags/activemembers_cards.py
  website/activemembers/views.py
Labels: activemembers, bug, priority: high

#1298 Redirect dutch ical feed to english one.
  website/events/urls.py
Labels: bug, events

#1302 Fix achievements helper function
  website/members/services.py
Labels: bug, members

#1299 Use DecimalField for contribution
  website/registrations/migrations/0025_auto_20201005_2018.py
  website/registrations/models.py
Labels: refactor, registrations

#1300 Removed the translations-part from the readme.
  README.md
Labels: docs

#1303 Fix activemembers API
  website/activemembers/api/serializers.py
  website/activemembers/views.py
Labels: activemembers, bug

#1306 Revert accidental changes
  website/activemembers/views.py
Labels: activemembers, bug

#1308 Add closing parentheses to BIC
  website/payments/templates/payments/bankaccount_list.html
Labels: bug, payments

#1313 Add batch description export
  website/payments/admin.py
  website/payments/admin_views.py
  website/payments/templates/admin/payments/batch_topic.html
  website/payments/templates/admin/payments/change_form.html
  website/payments/tests/test_admin_views.py
Labels: feature, payments

#1317 Remove preferred language text in newsletter
  website/newsletters/templates/newsletters/email.html
  website/newsletters/templates/newsletters/email.txt
Labels: bug, newsletter

#1309 Format existing activemembers docstrings to PEP 257
  website/activemembers/admin.py
  website/activemembers/api/serializers.py
  website/activemembers/api/urls.py
  website/activemembers/api/viewsets.py
  website/activemembers/apps.py
  website/activemembers/backends.py
  website/activemembers/emails.py
  website/activemembers/forms.py
  website/activemembers/gsuite.py
  website/activemembers/management/commands/delete_gsuite_users.py
  website/activemembers/management/commands/init_gsuite_users.py
  website/activemembers/models.py
  website/activemembers/services.py
  website/activemembers/signals.py
  website/activemembers/urls.py
  website/activemembers/views.py
Labels: activemembers

#1273 Remove MultilingualField in education
  website/education/admin.py
  website/education/forms.py
  website/education/migrations/0014_remove_multilang_field.py
  website/education/models.py
  website/utils/management/commands/createfixtures.py
Labels: education

#1264 Added weekday to newsletter events
  website/newsletters/templates/newsletters/email.html
Labels: feature, newsletter

#1320 Refactor payments to use PaymentUser proxy model
  website/members/models/member.py
  website/payments/admin.py
  website/payments/admin_views.py
  website/payments/migrations/0013_auto_20201012_2217.py
  website/payments/models.py
  website/payments/services.py
  website/payments/templates/payments/widgets/payment.html
  website/payments/templatetags/payments.py
  website/payments/tests/test_admin.py
  website/payments/tests/test_admin_views.py
  website/payments/tests/test_models.py
  website/payments/tests/test_services.py
  website/payments/tests/test_views.py
  website/payments/tests/test_widgets.py
  website/payments/views.py
  website/payments/widgets.py
  website/registrations/services.py
Labels: chore, events, members, payments, pizzas, registrations

#1326 Only show the second address if it exists
  website/members/templates/members/email/information_check.html
Labels: bug, members

#1324 Make thabloids private
  website/thabloid/migrations/0006_make_thabloids_private.py
  website/thabloid/models.py
  website/thabloid/templatetags/thabloid_cards.py
  website/thabloid/tests/test_thabloid.py
  website/thabloid/views.py
  website/thaliawebsite/menus.py
Labels: feature, thabloid

#1312 Change to use an autofield pk instead of UUID
  website/payments/admin.py
  website/payments/migrations/0014_auto_20201016_2122.py
  website/payments/models.py
  website/payments/tests/test_admin.py
Labels: feature, payments

#1269 Add tpay_balance property to users
  website/payments/admin.py
  website/payments/models.py
  website/payments/templates/payments/payment_form.html
  website/payments/templates/payments/payment_list.html
  website/payments/tests/test_admin.py
  website/payments/tests/test_models.py
  website/payments/views.py
Labels: feature, members, payments

#1333 Add presence information to the events api
  website/events/api/serializers/events/list.py
  website/events/services.py
Labels: events, feature

#1332 Change Makefile to properly store install status
  Makefile
Labels: bug

#1337 Fix admin payment widget for payables without payers
  website/payments/admin_views.py
  website/payments/widgets.py
Labels: bug, payments

#1339 Only get Google APIs when necessary
  website/activemembers/gsuite.py
  website/mailinglists/gsuite.py
Labels: activemembers, bug, mailinglists

#1277 Create personal Thalia Pay permissions
  docs/payments.rst
  website/payments/admin.py
  website/payments/apps.py
  website/payments/migrations/0015_auto_20201017_1354.py
  website/payments/models.py
  website/payments/signals.py
  website/payments/templates/payments/bankaccount_list.html
  website/payments/templates/payments/templatetags/payment_button.html
  website/payments/tests/test_admin.py
  website/payments/tests/test_admin_views.py
  website/payments/tests/test_models.py
  website/payments/tests/test_services.py
  website/payments/tests/test_signals.py
  website/payments/tests/test_views.py
  website/payments/views.py
  website/thaliawebsite/settings/settings.py
Labels: feature, members, payments

#1353 Add OAUTH_SCHEME setting
  website/thaliawebsite/settings/settings.py
Labels: chore

#1360 removed _variable-usage.scss and main-dark.scss files
  website/thaliawebsite/static/css/_variable-usage.scss
  website/thaliawebsite/static/css/main-dark.scss
Labels: chore

#1359 Fix payment button
  website/events/templates/events/event.html
  website/payments/templates/payments/templatetags/payment_button.html
Labels: bug, events, payments

#1358 Use lustrum styling during 'dies'
  website/thaliawebsite/context_processors.py
  website/thaliawebsite/settings/settings.py
  website/thaliawebsite/static/css/_variables-lustrum.scss
  website/thaliawebsite/static/css/main-lustrum.scss
  website/thaliawebsite/static/img/lustrum-logo.svg
  website/thaliawebsite/templates/base.html
Labels: feature
