Repository svthalia/concrexit, pull requests merged in 2020-06, with the labels that each got.

#1135 Refactor duplicate download_csv function
  website/education/admin.py
Labels: chore, education

#1133 Remove duplications in statistics chart js
  website/members/static/members/js/statistics.js
Labels: chore, members

#1141 Make the list in the summaries text properly unstyled
  website/education/templates/education/courses.html
Labels: bug, education

#1139 Fix pizza orders with incomplete requests
  website/pizzas/api/serializers.py
Labels: bug, pizzas
