Repository svthalia/concrexit, pull requests merged in 2020-09, with the labels that each got.

#1197 Fix the overlapping memberships
  website/utils/snippets.py
Labels: bug

#1173 Remove dependency of events app on Payment.NONE in API
  website/events/migrations/0041_auto_20200802_1729.py
  website/events/models/event_registration.py
  website/events/services.py
  website/events/templates/events/admin/registrations_table.html
Labels: chore, events, payments, pizzas

#1204 Do not create payment when payment status is not changed
  website/events/services.py
Labels: bug, events

#1209 Update dependencies docker on master change
  .github/workflows/build-dependencies-docker.yaml
Labels: chore

#1211 Go back to Docker hub
  .github/workflows/build-dependencies-docker.yaml
  .github/workflows/build-production-docker.yaml
  .github/workflows/test.yaml
  Dockerfile
  docker-compose.yml
Labels: bug

#1203 Add CodeQL analysis
  .github/workflows/codeql-analysis.yml
Labels: feature

#1214 Add note about COVID-19
  website/events/locale/nl/LC_MESSAGES/django.mo
  website/events/locale/nl/LC_MESSAGES/django.po
  website/events/templates/events/event.html
Labels: events, feature

#1213 Fix renewals email translation
  website/registrations/locale/nl/LC_MESSAGES/django.mo
  website/registrations/locale/nl/LC_MESSAGES/django.po
Labels: bug, registrations

#1207 Introduce a centralised payments page
  docs/payments.rst
  docs/payments.templatetags.rst
  website/events/locale/nl/LC_MESSAGES/django.mo
  website/events/locale/nl/LC_MESSAGES/django.po
  website/events/templates/events/event.html
  website/events/urls.py
  website/events/views.py
  website/payments/forms.py
  website/payments/locale/nl/LC_MESSAGES/django.mo
  website/payments/locale/nl/LC_MESSAGES/django.po
  website/payments/models.py
  website/payments/templates/payments/payment_form.html
  website/payments/templates/payments/templatetags/payment_button.html
  website/payments/templatetags/__init__.py
  website/payments/templatetags/payments.py
  website/payments/tests/__mocks__.py
  website/payments/tests/templatetags/__init__.py
  website/payments/tests/templatetags/payments.py
  website/payments/tests/test_services.py
  website/payments/tests/test_views.py
  website/payments/urls.py
  website/payments/views.py
Labels: events, feature, payments

#1054 Create payment for registrations and renewals
  website/events/admin.py
  website/events/models/event_registration.py
  website/payments/admin.py
  website/payments/admin_views.py
  website/payments/migrations/0008_migrate_processing_date.py
  website/payments/migrations/0009_auto_20200905_1142.py
  website/payments/models.py
  website/payments/services.py
  website/payments/templates/admin/payments/change_form.html
  website/payments/templates/payments/payment_list.html
  website/payments/templates/payments/widgets/payment.html
  website/payments/tests/__mocks__.py
  website/payments/tests/api/test_fields.py
  website/payments/tests/test_admin.py
  website/payments/tests/test_admin_views.py
  website/payments/tests/test_models.py
  website/payments/tests/test_services.py
  website/payments/tests/test_views.py
  website/payments/tests/test_widgets.py
  website/payments/views.py
  website/payments/widgets.py
  website/registrations/README.rst
  website/registrations/admin.py
  website/registrations/emails.py
  website/registrations/forms.py
  website/registrations/locale/nl/LC_MESSAGES/django.mo
  website/registrations/locale/nl/LC_MESSAGES/django.po
  website/registrations/migrations/0023_auto_20200325_2045.py
  website/registrations/migrations/0024_auto_20200325_2045.py
  website/registrations/models.py
  website/registrations/services.py
  website/registrations/signals.py
  website/registrations/tests/test_admin.py
  website/registrations/tests/test_emails.py
  website/registrations/tests/test_forms.py
  website/registrations/tests/test_models.py
  website/registrations/tests/test_services.py
  website/registrations/tests/test_signals.py
  website/registrations/tests/test_views.py
  website/thaliawebsite/settings/settings.py
  website/utils/exception_filter.py
Labels: events, payments, pizzas, registrations

#1044 Add payment batches functionality
  website/events/api/viewsets/event_registrations.py
  website/events/static/events/js/admin.js
  website/payments/admin.py
  website/payments/admin_views.py
  website/payments/forms.py
  website/payments/migrations/0010_auto_20200918_1921.py
  website/payments/models.py
  website/payments/services.py
  website/payments/templates/admin/payments/change_form.html
  website/payments/templates/admin/payments/change_list.html
  website/payments/tests/test_admin.py
  website/payments/tests/test_admin_views.py
  website/payments/tests/test_models.py
  website/payments/tests/test_services.py
  website/payments/tests/test_views.py
  website/payments/tests/test_widgets.py
Labels: events, feature, payments

#1231 Fix renewal form
  website/registrations/migrations/0024_auto_20200325_2045.py
  website/registrations/models.py
  website/registrations/static/registrations/js/main.js
Labels: bug, registrations

#1234 Remove payment.processed from event registration
  website/events/models/event_registration.py
Labels: bug, events

#1233 Export payment batches per topic
  website/payments/admin.py
  website/payments/admin_views.py
  website/payments/templates/admin/payments/change_form.html
  website/payments/tests/test_admin_views.py
Labels: feature, payments

#1226 Thalia Pay for renewals
  website/payments/tests/test_views.py
  website/payments/views.py
  website/registrations/emails.py
  website/registrations/templates/registrations/email/renewal_accepted.txt
  website/registrations/templates/registrations/renewal.html
  website/registrations/templates/registrations/renewal_completed.html
  website/registrations/tests/test_emails.py
  website/registrations/tests/test_views.py
  website/registrations/urls.py
  website/registrations/views.py
Labels: feature, payments, registrations

#1237 Update styleguide links
  website/singlepages/templates/singlepages/styleguide.html
Labels: chore, singlepages

#1235 Prevent revoking bankaccounts if unbatched
  website/payments/admin.py
  website/payments/forms.py
  website/payments/migrations/0011_auto_20200921_2355.py
  website/payments/models.py
  website/payments/templates/payments/payment_list.html
  website/payments/templates/payments/widgets/payment.html
  website/payments/tests/test_models.py
  website/payments/tests/test_views.py
  website/payments/views.py
Labels: feature, payments

#1217 Remove MultilingualField in announcements
  website/announcements/admin.py
  website/announcements/migrations/0011_remove_multilang_field.py
  website/announcements/models.py
  website/manage.py
Labels: activemembers, announcements, documents, education, events, mailinglists, members, merchandise, newsletter, partners, payments, photos, pizzas, push-notifications, registrations, singlepages, thabloid

#1230 Add OAuth2 authentication & activemembers in the API
  Dockerfile
  docs/activemembers.api.rst
  docs/activemembers.rst
  poetry.lock
  pyproject.toml
  website/activemembers/api/__init__.py
  website/activemembers/api/serializers.py
  website/activemembers/api/urls.py
  website/activemembers/api/viewsets.py
  website/manage.py
  website/members/api/viewsets.py
  website/members/middleware.py
  website/members/services.py
  website/templates/oauth2_provider/authorize.html
  website/templates/oauth2_provider/authorized-token-delete.html
  website/templates/oauth2_provider/authorized-tokens.html
  website/thaliawebsite/settings/settings.py
  website/thaliawebsite/templates/base.html
  website/thaliawebsite/urls.py
Labels: activemembers, feature, members

#1246 Send Thalia Pay withdrawal notice emails
  website/payments/admin_views.py
  website/payments/services.py
  website/payments/templates/payments/email/tpay_withdrawal_notice_mail.txt
Labels: feature, payments

#1247 Add feature flag to renewal accepted email disabling Thalia Pay
  website/registrations/emails.py
  website/registrations/templates/registrations/email/renewal_accepted.txt
  website/registrations/tests/test_emails.py
Labels: bug, registrations

#1243 Replace pizzas payment button for Thalia Pay with templatetag
  website/payments/admin.py
  website/payments/services.py
  website/payments/tests/test_admin.py
  website/payments/tests/test_services.py
  website/pizzas/models.py
  website/pizzas/templates/pizzas/index.html
  website/pizzas/urls.py
  website/pizzas/views.py
Labels: chore, payments, pizzas

#1250 Add extra information in the member and membergroup serializer
  website/activemembers/api/serializers.py
  website/members/api/serializers.py
Labels: activemembers, feature, members

#1248 Block Thalia Pay payment save when user does not have it enabled
  website/members/fixtures/members.json
  website/members/models/member.py
  website/payments/fixtures/bank_accounts.json
  website/payments/models.py
  website/payments/tests/test_admin.py
  website/payments/tests/test_admin_views.py
  website/payments/tests/test_models.py
  website/registrations/tests/test_signals.py
Labels: bug, members, payments, registrations

#1251 Fix payments remove processing date migration
  website/payments/migrations/0008_migrate_processing_date.py
Labels: bug, payments

#1268 Remove unused pay_with_tpay service from events app
  website/events/services.py
Labels: events, feature

#1266 Fix membergroup createfixtures command UNIQUE constraint
  website/utils/management/commands/createfixtures.py
Labels: bug

#1267 Add withdrawal date to batches
  website/payments/admin.py
  website/payments/migrations/0012_batch_withdrawal_date.py
  website/payments/models.py
  website/payments/templates/payments/email/tpay_withdrawal_notice_mail.txt
  website/payments/templates/payments/payment_list.html
  website/payments/tests/test_admin.py
  website/thaliawebsite/settings/settings.py
Labels: feature, payments

#1270 Add activemembers:read to scopes
  website/thaliawebsite/settings/settings.py
Labels: bug

#1271 Revert "Add withdrawal date to batches"
  website/payments/admin.py
  website/payments/migrations/0012_batch_withdrawal_date.py
  website/payments/models.py
  website/payments/templates/payments/email/tpay_withdrawal_notice_mail.txt
  website/payments/templates/payments/payment_list.html
  website/payments/tests/test_admin.py
  website/thaliawebsite/settings/settings.py
Labels: payments

#1224 added utf-8 meta tag for newsletters
  website/newsletters/templates/newsletters/email.html
Labels: bug, newsletter
