Repository svthalia/concrexit, pull requests merged in 2020-12, with the labels that each got.

#1420 Add country field to partner
  website/partners/admin.py
  website/partners/migrations/0018_auto_20201123_2047.py
  website/partners/models.py
  website/partners/templates/partners/partner.html
Labels: partners

#1338 Add general payment api endpoint
  docs/payments.api.rst
  docs/payments.api.serializers.rst
  docs/payments.api.viewsets.rst
  docs/payments.rst
  website/payments/api/__init__.py
  website/payments/api/serializers/__init__.py
  website/payments/api/serializers/payment_create.py
  website/payments/api/serializers/payments.py
  website/payments/api/urls.py
  website/payments/api/viewsets/__init__.py
  website/payments/api/viewsets/payments.py
  website/payments/tests/api/test_viewsets_payments.py
  website/thaliawebsite/api/v1/urls.py
Labels: feature, payments

#1410 Improvements to payments in the events admin
  website/events/models/event.py
  website/events/templates/events/admin/registrations_table.html
  website/events/templates/events/event.html
  website/payments/services.py
  website/payments/tests/test_services.py
Labels: bug, events, payments

#1432 Prevent registrations table from not showing true checkbox value
  website/events/templates/events/admin/registrations_table.html
Labels: events

#1435 Fix grpcio version
  poetry.lock
Labels: dependency-update

#1439 Initial work for API v2
  docs/activemembers.api.rst
  docs/activemembers.api.v2.rst
  docs/announcements.api.rst
  docs/announcements.api.v2.rst
  docs/events.api.rst
  docs/events.api.v2.rst
  docs/members.api.rst
  docs/members.api.v2.rst
  docs/payments.api.rst
  docs/payments.api.v2.rst
  docs/pizzas.api.rst
  docs/pizzas.api.v2.rst
  docs/pushnotifications.api.rst
  docs/pushnotifications.api.v2.rst
  docs/thaliawebsite.api.rst
  docs/thaliawebsite.api.v2.rst
  docs/thaliawebsite.api.v2.serializers.rst
  website/activemembers/api/v2/__init__.py
  website/activemembers/api/v2/urls.py
  website/announcements/api/v2/__init__.py
  website/announcements/api/v2/urls.py
  website/events/api/v2/__init__.py
  website/events/api/v2/urls.py
  website/members/api/v2/__init__.py
  website/members/api/v2/urls.py
  website/partners/api/v2/__init__.py
  website/partners/api/v2/urls.py
  website/payments/api/v2/__init__.py
  website/payments/api/v2/urls.py
  website/photos/api/v2/__init__.py
  website/photos/api/v2/urls.py
  website/pizzas/api/v2/__init__.py
  website/pizzas/api/v2/urls.py
  website/pushnotifications/api/v2/__init__.py
  website/pushnotifications/api/v2/urls.py
  website/thaliawebsite/api/urls.py
  website/thaliawebsite/api/v2/__init__.py
  website/thaliawebsite/api/v2/serializers/__init__.py
  website/thaliawebsite/api/v2/serializers/thumbnail.py
  website/thaliawebsite/api/v2/urls.py
  website/thaliawebsite/settings/settings.py
Labels: activemembers, announcements, api, chore, events, members, partners, payments, photos, pizzas, push-notifications

#1448 Allow SVG slides
  website/announcements/migrations/0012_auto_20201209_1704.py
  website/announcements/models.py
  website/utils/media/services.py
Labels: announcements

#1436 GSuite changes
  website/events/migrations/0040_auto_20200329_2341.py
  website/mailinglists/gsuite.py
  website/mailinglists/tests/test_gsuite.py
Labels: events, mailinglists

#1449 Better names for Make commands
  Makefile
  README.md
Labels: chore

#1453 Move event changes validation to the admin form
  website/events/admin.py
  website/events/models/event.py
  website/pushnotifications/tests.py
Labels: events, push-notifications

#1454 Remove the ability to download albums
  website/photos/templates/photos/album.html
  website/photos/tests/test_views.py
  website/photos/urls.py
  website/photos/views.py
Labels: photos

#1455 Remove the Docker Compose file
  docker-compose.yml
Labels: skip-changelog

#1457 Set unknown data instead of None on minimisation
  website/members/services.py
Labels: bug, members

#1456 Fix sorting by payments in events admin
  website/events/static/events/js/admin.js
  website/events/templates/events/admin/registrations_table.html
Labels: events

#1434 Remove Dutch website logo
  website/thaliawebsite/static/css/base.scss
  website/thaliawebsite/static/img/logo-dark.svg
  website/thaliawebsite/static/img/logo-nl-dark.svg
  website/thaliawebsite/static/img/logo-nl.svg
  website/thaliawebsite/static/img/logo.svg
  website/thaliawebsite/static/js/main.js
  website/thaliawebsite/templates/base.html
Labels: chore, i18n, priority: low

#1458 Remove docs hack for settings
  Makefile
  docs/Makefile
  docs/conf.py
  docs/generate-apidocs.sh
  docs/make.bat
  website/thaliawebsite/settings/__init__.py
Labels: docs, refactor, skip-changelog

#1442 Add pushnotifications API v2
  docs/pushnotifications.api.v2.rst
  docs/thaliawebsite.api.v2.rst
  website/pushnotifications/api/v2/filters.py
  website/pushnotifications/api/v2/permissions.py
  website/pushnotifications/api/v2/serializers.py
  website/pushnotifications/api/v2/urls.py
  website/pushnotifications/api/v2/views.py
  website/thaliawebsite/api/v2/permissions.py
  website/thaliawebsite/settings/settings.py
Labels: api, feature, push-notifications

#1440 Add activemembers API v2
  docs/activemembers.rst
  docs/members.api.v2.rst
  docs/members.api.v2.serializers.rst
  website/activemembers/api/v2/serializers/member_group.py
  website/activemembers/api/v2/serializers/member_group_membership.py
  website/activemembers/api/v2/urls.py
  website/activemembers/api/v2/views.py
  website/members/api/v2/serializers/__init__.py
  website/members/api/v2/serializers/member.py
Labels: activemembers, api, feature, members

#1441 Add announcements API v2
  docs/announcements.api.v2.rst
  website/announcements/api/v2/serializers.py
  website/announcements/api/v2/urls.py
  website/announcements/api/v2/views.py
  website/announcements/models.py
  website/thaliawebsite/settings/settings.py
Labels: announcements, api, feature

#1462 Reintroduce settings LANGUAGE_CODE in base.html
  website/thaliawebsite/templates/base.html
Labels: bug, i18n, priority: critical

#1451 Fix bug when deleting users crashed
  website/payments/models.py
  website/payments/tests/test_models.py
Labels: bug, payments

#1466 Add placeholders for discord and online locations
  website/events/migrations/0043_auto_20201215_1436.py
  website/events/models/event.py
  website/thaliawebsite/static/img/locations/discord.png
  website/thaliawebsite/static/img/locations/online.png
  website/utils/snippets.py
Labels: events, feature

#1481 Remove push trigger from test workflow
  .github/workflows/test.yaml
Labels: chore

#1459 Refactor settings
  .github/workflows/test.yaml
  .gitignore
  Makefile
  README.md
  docs/thaliawebsite.rst
  docs/thaliawebsite.settings.rst
  nix/concrexit.nix
  nix/configuration.nix
  pyproject.toml
  website/announcements/api/v1/serializers.py
  website/announcements/api/v2/serializers.py
  website/manage.py
  website/thaliawebsite/context_processors.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/settings/__init__.py
  website/thaliawebsite/settings/production.py
  website/thaliawebsite/settings/settings.py
  website/thaliawebsite/settings/testing.py
  website/thaliawebsite/static/css/_variables-lustrum.scss
  website/thaliawebsite/static/css/main-lustrum.scss
  website/thaliawebsite/static/img/lustrum-logo.svg
  website/thaliawebsite/templates/base.html
  website/thaliawebsite/tests/test_website.py
  website/thaliawebsite/wsgi.py
Labels: announcements, refactor, request-for-comments
