Repository svthalia/concrexit, pull requests merged in 2020-04, with the labels that each got.

#1062 Check for untranslated messages in CI
  .github/workflows/test.yaml
  website/announcements/locale/nl/LC_MESSAGES/django.po
  website/announcements/migrations/0009_auto_20191120_1906.py
  website/announcements/models.py
  website/events/locale/nl/LC_MESSAGES/django.mo
  website/events/locale/nl/LC_MESSAGES/django.po
  website/members/forms.py
  website/members/locale/nl/LC_MESSAGES/django.mo
  website/members/locale/nl/LC_MESSAGES/django.po
  website/members/templates/members/email/information_check.html
  website/payments/locale/nl/LC_MESSAGES/django.mo
  website/payments/locale/nl/LC_MESSAGES/django.po
  website/photos/locale/nl/LC_MESSAGES/django.mo
  website/photos/locale/nl/LC_MESSAGES/django.po
  website/pushnotifications/locale/nl/LC_MESSAGES/django.mo
  website/pushnotifications/locale/nl/LC_MESSAGES/django.po
  website/registrations/locale/nl/LC_MESSAGES/django.mo
  website/registrations/locale/nl/LC_MESSAGES/django.po
  website/registrations/models.py
  website/singlepages/locale/nl/LC_MESSAGES/django.mo
  website/singlepages/locale/nl/LC_MESSAGES/django.po
  website/singlepages/templates/singlepages/privacy_policy.html
  website/thabloid/locale/nl/LC_MESSAGES/django.po
  website/thaliawebsite/locale/nl/LC_MESSAGES/django.mo
  website/thaliawebsite/locale/nl/LC_MESSAGES/django.po
  website/thaliawebsite/templates/singlepages/become_active.html
  website/thaliawebsite/templates/singlepages/contact.html
  website/thaliawebsite/templates/singlepages/event_registration_terms.html
  website/thaliawebsite/templates/singlepages/privacy_policy.html
  website/thaliawebsite/templates/singlepages/sibling_associations.html
  website/thaliawebsite/templates/singlepages/styleguide.html
Labels: chore, i18n

#1065 Make large admin changelists better readable
  website/events/admin.py
  website/events/locale/nl/LC_MESSAGES/django.mo
  website/events/locale/nl/LC_MESSAGES/django.po
  website/members/admin.py
  website/members/locale/nl/LC_MESSAGES/django.mo
  website/members/locale/nl/LC_MESSAGES/django.po
Labels: events, feature, members

#1078 Fix refactoring branch label for release-drafter
  .github/release-drafter.yaml
Labels: chore

#1085 Add Code Climate configuration
  .codeclimate.yml
  README.md
Labels: chore

#1086 Translate collaboration email address
  website/partners/locale/nl/LC_MESSAGES/django.mo
  website/partners/locale/nl/LC_MESSAGES/django.po
  website/partners/templates/partners/index.html
  website/partners/templates/partners/vacancies.html
  website/singlepages/locale/nl/LC_MESSAGES/django.mo
  website/singlepages/locale/nl/LC_MESSAGES/django.po
  website/singlepages/templates/singlepages/contact.html
Labels: feature, partners, singlepages

#1066 Refactor events API code into separate files
  docs/events.api.rst
  docs/events.api.serializers.base.rst
  docs/events.api.serializers.event_registrations.rst
  docs/events.api.serializers.events.rst
  docs/events.api.serializers.rst
  docs/events.api.viewsets.rst
  website/events/api/serializers/__init__.py
  website/events/api/serializers/base/__init__.py
  website/events/api/serializers/base/calendarjs.py
  website/events/api/serializers/event_registrations/__init__.py
  website/events/api/serializers/event_registrations/list.py
  website/events/api/serializers/events/__init__.py
  website/events/api/serializers/events/calendarjs.py
  website/events/api/serializers/events/list.py
  website/events/api/serializers/events/retrieve.py
  website/events/api/urls.py
  website/events/api/viewsets/__init__.py
  website/events/api/viewsets/event_registrations.py
  website/events/api/viewsets/events.py
Labels: events, refactor

#1082 Refactor members models into multiple files
  docs/members.models.rst
  docs/members.rst
  website/members/migrations/0035_auto_20190904_1906.py
  website/members/models/__init__.py
  website/members/models/email_change.py
  website/members/models/member.py
  website/members/models/membership.py
  website/members/models/profile.py
Labels: members, refactor
