Repository svthalia/concrexit, pull requests merged in 2021-07, with the labels that each got.

#1802 Fix photo album event title save
  website/photos/models.py
Labels: bug, photos

#1803 Set allowed API versions to fix API v1 default pagination
  website/thaliawebsite/api/urls.py
  website/thaliawebsite/api/v1/urls.py
  website/thaliawebsite/api/v2/urls.py
  website/thaliawebsite/settings.py
Labels: bug

#1805 Fix client-credentials authenticated clients accessing the API
  website/activemembers/api/v2/views.py
  website/announcements/api/v2/views.py
  website/members/api/v2/views.py
  website/photos/api/v2/views.py
  website/pizzas/api/v2/views.py
Labels: activemembers, announcements, bug, members, photos, pizzas

#1818 Serialize event registration payment as object
  website/events/api/v2/admin/serializers/event_registration.py
  website/events/api/v2/serializers/event_registration.py
Labels: events, feature

#1792 Optional event registration tweaks
  website/events/admin.py
  website/events/api/v2/admin/serializers/event.py
  website/events/api/v2/serializers/event.py
  website/events/migrations/0049_event_optional_registrations.py
  website/events/models/event.py
  website/events/services.py
  website/events/tests/test_models.py
Labels: events, feature

#1826 Add search filter to event registration admin api
  website/events/api/v2/admin/views.py
Labels: api, events, feature

#1832 Use correct permission classes in sales admin API for token scope check
  website/sales/api/v2/admin/views.py
Labels: sales

#1835 Use django-django-admin-autocomplete-filter from master
  poetry.lock
  pyproject.toml
Labels: bug

#1833 Add comment about unsafe hash usage
  website/activemembers/gsuite.py
Labels: activemembers, chore

#1836 Remove permission class from DeviceListView
  website/pushnotifications/api/v2/views.py
Labels: bug, push-notifications

#1837 Add pizzas admin API v2
  website/pizzas/api/v2/admin/__init__.py
  website/pizzas/api/v2/admin/permissions.py
  website/pizzas/api/v2/admin/serializers/__init__.py
  website/pizzas/api/v2/admin/serializers/food_event.py
  website/pizzas/api/v2/admin/serializers/order.py
  website/pizzas/api/v2/admin/serializers/product.py
  website/pizzas/api/v2/admin/urls.py
  website/pizzas/api/v2/admin/validators.py
  website/pizzas/api/v2/admin/views.py
  website/thaliawebsite/api/v2/admin/urls.py
  website/thaliawebsite/settings.py
Labels: feature, pizzas

#1844 Add cancel too late message to API v2
  website/events/api/v2/serializers/event.py
Labels: bug, events
