Repository svthalia/concrexit, pull requests merged in 2021-08, with the labels that each got.

#1843 Add partners and partner events API v2
  website/partners/api/v2/filters.py
  website/partners/api/v2/serializers/__init__.py
  website/partners/api/v2/serializers/partner.py
  website/partners/api/v2/serializers/partner_event.py
  website/partners/api/v2/urls.py
  website/partners/api/v2/views.py
  website/thaliawebsite/settings.py
Labels: feature, partners

#1867 Remove cache from payable registry
  website/payments/payables.py
  website/payments/tests/test_views.py
  website/payments/tests/test_widgets.py
Labels: api, bug, payments

#1873 Use constants for membership lengths
  website/registrations/models.py
Labels: registrations, chore

#1874 Fix disabling optional registrations
  website/events/models/event.py
Labels: events, bug

#1870 Add user registration to events API v2 for cancelled situations
  website/events/api/v2/serializers/event.py
  website/events/api/v2/serializers/event_registration.py
Labels: events, feature

#1877 Use inclusive language on members directory
  website/members/templates/members/index.html
Labels: members, chore

#1878 Fix small bug in events api
  website/events/api/v2/serializers/event_registration.py
Labels: events

#1880 Remove language from v1 profile serializer
  website/members/api/v1/serializers.py
Labels: members
