Repository svthalia/concrexit, pull requests merged in 2021-02, with the labels that each got.

#1476 Add photos API v2
  website/photos/api/v2/serializers/__init__.py
  website/photos/api/v2/serializers/album.py
  website/photos/api/v2/serializers/photo.py
  website/photos/api/v2/urls.py
  website/photos/api/v2/views.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/settings/settings.py
Labels: feature, photos

#1480 Add events API v2
  docs/events.api.v1.serializers.events.rst
  docs/events.api.v2.rst
  docs/events.api.v2.serializers.rst
  docs/thaliawebsite.api.v2.serializers.rst
  website/activemembers/api/v2/serializers/member_group.py
  website/announcements/api/v2/serializers.py
  website/events/admin_views.py
  website/events/api/v1/serializers/event_registrations/list.py
  website/events/api/v1/serializers/events/__init__.py
  website/events/api/v1/serializers/events/calendarjs.py
  website/events/api/v1/serializers/events/list.py
  website/events/api/v1/serializers/events/retrieve.py
  website/events/api/v2/serializers/__init__.py
  website/events/api/v2/serializers/event.py
  website/events/api/v2/serializers/event_registration.py
  website/events/api/v2/urls.py
  website/events/api/v2/views.py
  website/events/forms.py
  website/events/models/event.py
  website/events/models/event_registration.py
  website/events/services.py
  website/events/templates/events/event.html
  website/events/tests/test_models.py
  website/events/tests/test_services.py
  website/events/views.py
  website/pizzas/signals.py
  website/thaliawebsite/api/v2/serializers/html.py
  website/thaliawebsite/api/v2/serializers/thumbnail.py
Labels: activemembers, announcements, events, feature, pizzas

#1532 Add management command descriptions
  website/activemembers/management/commands/delete_gsuite_users.py
  website/activemembers/management/commands/init_gsuite_users.py
  website/mailinglists/management/commands/sync_mailinglists.py
  website/members/management/commands/conscribosync.py
  website/members/management/commands/dataminimisation.py
  website/members/management/commands/sendexpirationnotification.py
  website/members/management/commands/sendinformationcheck.py
  website/members/management/commands/sendmembershipnotification.py
  website/newsletters/management/commands/createnewsletterhtml.py
  website/newsletters/management/commands/sendplannednewsletters.py
  website/payments/management/commands/revokeoldmandates.py
  website/pushnotifications/management/commands/send_scheduled_messages.py
  website/registrations/management/commands/minimiseregistrations.py
Labels: activemembers, chore, docs, mailinglists, members, newsletter, payments, push-notifications, registrations

#1531 Add the option to disable Thalia pay for events
  website/events/admin.py
  website/events/migrations/0044_event_tpay_allowed.py
  website/events/migrations/0045_auto_20210217_1317.py
  website/events/models/event.py
  website/events/models/event_registration.py
  website/payments/models.py
  website/payments/templates/payments/templatetags/payment_button.html
  website/payments/tests/test_models.py
  website/payments/tests/test_views.py
  website/payments/views.py
Labels: events, payments

#1533 Fix album media
  nix/configuration.nix
Labels: bug, server

#1463 Fix bug when manually adding users crashed
  website/members/forms.py
Labels: members

#1529 Add shortlink support
  docs/modules.rst
  docs/shortlink.rst
  docs/shortlinks.rst
  website/shortlinks/__init__.py
  website/shortlinks/admin.py
  website/shortlinks/apps.py
  website/shortlinks/migrations/0001_initial.py
  website/shortlinks/migrations/__init__.py
  website/shortlinks/models.py
  website/shortlinks/templates/shortlinks/confirm.html
  website/shortlinks/urls.py
  website/shortlinks/views.py
  website/thaliawebsite/admin.py
  website/thaliawebsite/migrations/__init__.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/urls.py
  website/thaliawebsite/views.py
Labels: feature

#1544 Fix activemembers v2 API schema
  website/activemembers/api/v2/serializers/member_group.py
Labels: activemembers, bug

#1545 Fix FileField support in the media helpers
  website/utils/media/services.py
Labels: bug

#1546 Provide a default value for existing partners
  website/partners/migrations/0018_auto_20201123_2047.py
  website/partners/models.py
Labels: bug, partners

#1543 Fix redirection page title in shortlinks app
  website/shortlinks/templates/shortlinks/confirm.html
Labels: bug

#1542 Fix API v1 global pagination
  website/thaliawebsite/api/pagination.py
Labels: bug

#1547 Set secure cookie in production
  website/thaliawebsite/settings.py
Labels: bug, chore, security

#1550 Fix event registrations API internal server error
  website/events/api/v1/serializers/event_registrations/list.py
Labels: api, bug, events

#1548 Fix placeholder photo for committees
  website/activemembers/templates/activemembers/membergroup_detail.html
Labels: activemembers, bug

#1460 Move email send function to utils
  README.md
  website/payments/services.py
  website/registrations/emails.py
  website/registrations/tests/test_emails.py
  website/utils/snippets.py
Labels: payments, refactor, registrations
