Repository svthalia/concrexit, pull requests merged in 2021-05, with the labels that each got.

#1614 Fix colours in the Django admin after 3.2 update
  website/events/static/events/css/admin.scss
  website/pizzas/static/pizzas/css/admin.scss
  website/pizzas/templates/pizzas/admin/orders.html
Labels: bug, events, pizzas

#1647 Remove mention of suffix mailing list
  website/mailinglists/templates/admin/mailinglists/change_list.html
Labels: bug, mailinglists

#1659 Add sales to app-labeler.yml
  .github/app-labeler.yaml
Labels: chore

#1664 Fix sales admin member check
  website/sales/admin/order_admin.py
Labels: bug, sales

#1671 Improve API v2 event registrations
  website/events/api/v2/serializers/event_registration.py
  website/events/api/v2/views.py
  website/events/migrations/0047_alter_event_shift.py
  website/events/models/event.py
  website/photos/models.py
Labels: events, photos, refactor

#1676 Use correct total amount calculation when saving orders
  website/sales/models/order.py
  website/sales/tests/test_models.py
Labels: sales

#1673 Refactor Payables to use a registry
  website/events/apps.py
  website/events/models/event_registration.py
  website/events/payables.py
  website/events/services.py
  website/payments/__init__.py
  website/payments/api/v1/viewsets/payments.py
  website/payments/models.py
  website/payments/payables.py
  website/payments/services.py
  website/payments/templatetags/payments.py
  website/payments/tests/__mocks__.py
  website/payments/tests/api/v1/test_viewsets_payments.py
  website/payments/tests/test_admin_views.py
  website/payments/tests/test_models.py
  website/payments/tests/test_payables.py
  website/payments/tests/test_services.py
  website/payments/tests/test_views.py
  website/payments/views.py
  website/pizzas/apps.py
  website/pizzas/models.py
  website/pizzas/payables.py
  website/registrations/apps.py
  website/registrations/models.py
  website/registrations/payables.py
  website/registrations/tests/test_models.py
  website/registrations/tests/test_payables.py
  website/registrations/tests/test_services.py
  website/sales/migrations/0001_initial.py
  website/sales/models/order.py
  website/sales/payables.py
  website/sales/tests/test_admin.py
Labels: chore, events, payments, pizzas, refactor, registrations, request-for-comments, sales

#1677 Use right site_url in event details admin
  website/events/admin_views.py
Labels: bug, events

#1652 Rename pizza models and add API v2
  website/activemembers/api/v2/serializers/member_group.py
  website/announcements/api/v2/serializers.py
  website/events/admin.py
  website/events/api/v1/serializers/events/list.py
  website/events/api/v1/serializers/events/retrieve.py
  website/events/api/v2/serializers/event.py
  website/events/api/v2/views.py
  website/events/models/event.py
  website/events/templates/events/event.html
  website/members/api/v2/serializers/profile.py
  website/payments/api/v2/serializers/__init__.py
  website/payments/api/v2/serializers/payments.py
  website/photos/api/v2/serializers/photo.py
  website/pizzas/admin.py
  website/pizzas/admin_views.py
  website/pizzas/api/v1/serializers.py
  website/pizzas/api/v1/viewsets.py
  website/pizzas/api/v2/filters.py
  website/pizzas/api/v2/serializers/__init__.py
  website/pizzas/api/v2/serializers/food_event.py
  website/pizzas/api/v2/serializers/order.py
  website/pizzas/api/v2/serializers/product.py
  website/pizzas/api/v2/urls.py
  website/pizzas/api/v2/views.py
  website/pizzas/decorators.py
  website/pizzas/migrations/0014_auto_20210509_1311.py
  website/pizzas/models.py
  website/pizzas/payables.py
  website/pizzas/services.py
  website/pizzas/signals.py
  website/pizzas/templates/pizzas/admin/orders.html
  website/pizzas/templates/pizzas/admin/summary.html
  website/pizzas/templates/pizzas/index.html
  website/pizzas/tests.py
  website/pizzas/views.py
  website/sales/api/v2/serializers/order.py
  website/thaliawebsite/api/v2/fields/__init__.py
  website/thaliawebsite/api/v2/fields/current_member.py
  website/thaliawebsite/api/v2/serializers/__init__.py
  website/thaliawebsite/settings.py
Labels: activemembers, announcements, events, feature, members, payments, photos, pizzas, sales

#1680 Change api to show non-current FoodEvents
  website/pizzas/api/v2/views.py
Labels: pizzas

#1682 Fix reference to old pizzaevent
  website/pizzas/signals.py
  website/pizzas/templates/pizzas/index.html
Labels: bug, pizzas

#1683 Prevent crash in leap year
  website/members/services.py
Labels: bug, members

#1678 Fix sales admin member check - part 2
  website/sales/admin/order_admin.py
  website/sales/admin/shift_admin.py
Labels: bug, sales

#1690 Fix uniqueness of pizza orders
  website/pizzas/api/v2/serializers/order.py
  website/pizzas/api/v2/views.py
  website/thaliawebsite/api/v2/fields/__init__.py
  website/thaliawebsite/api/v2/fields/current_member.py
  website/thaliawebsite/api/v2/fields/current_object.py
Labels: bug, pizzas

#1691 Fix the pizza_event attribute change that was lost in a rebase
  website/pizzas/payables.py
Labels: bug, pizzas

#1695 Fix sales admin member check part 3
  website/sales/admin/order_admin.py
  website/sales/admin/shift_admin.py
  website/sales/api/v2/views.py
Labels: sales

#1696 Register sales payable
  website/sales/apps.py
Labels: sales

#1698 Make sales api a python package
  website/sales/api/__init__.py
Labels: sales

#1693 Filter and search for groups in api v2
  website/activemembers/api/v2/filters.py
  website/activemembers/api/v2/urls.py
  website/activemembers/api/v2/views.py
Labels: activemembers, api

#1697 Fix orphaned messages
  website/events/models/event.py
Labels: bug, events
