Repository svthalia/concrexit, pull requests merged in 2021-10, with the labels that each got.

#1953 Fix showing inactive partners
  website/partners/migrations/0020_auto_20211002_0002.py
  website/partners/models.py
  website/partners/views.py
Labels: partners

#1935 Remove event registration information after 7 years
  website/events/services.py
  website/thaliawebsite/management/__init__.py
  website/thaliawebsite/management/commands/__init__.py
  website/thaliawebsite/management/commands/dataminimisation.py
Labels: events

#1968 Fix autofill of event newsletters
  website/newsletters/static/admin/newsletters/js/forms.js
Labels: newsletter, bug

#1994 Fix pizza form
  website/pizzas/admin.py
Labels: pizzas, bug
