Repository svthalia/concrexit, pull requests merged in 2021-09, with the labels that each got.

#1889 Update jQuery version in the codebase
  website/thaliawebsite/static/js/jquery.min.js
Labels: chore

#1890 Catch possible ValueError in sales order serializer
  website/sales/api/v2/admin/serializers/order.py
Labels: bug, sales

#1920 add padding for vertical row representation
  website/members/templates/members/user/profile.html
Labels: members, bug

#1916 Use ValidationError from from rest_framework.exceptions
  website/sales/api/v2/admin/serializers/order.py
Labels: sales

#1893 Add education document notification email
  website/education/emails.py
  website/education/templates/education/email/document_notification.txt
  website/education/views.py
  website/thaliawebsite/settings.py
Labels: education, feature

#1909 Add information about registration status to calendar
  website/events/api/calendarjs/serializers.py
  website/events/services.py
  website/events/static/events/js/listview.js
  website/events/static/events/js/main.js
  website/thaliawebsite/api/calendarjs/serializers.py
Labels: events, bug

#1925 Fix documents year dropdown in admin form
  website/documents/forms.py
Labels: documents, bug
