Repository svthalia/concrexit, pull requests merged in 2021-06, with the labels that each got.

#1706 Use queryable properties for PaymentUser
  website/payments/admin.py
  website/payments/apps.py
  website/payments/migrations/0016_auto_20210531_2157.py
  website/payments/models.py
  website/payments/signals.py
  website/payments/tests/test_admin.py
  website/payments/tests/test_models.py
  website/payments/tests/test_signals.py
  website/thaliawebsite/settings.py
Labels: payments

#1708 Use distinct queryset in PaymentUserAdmin
  website/payments/models.py
  website/payments/tests/test_admin.py
Labels: payments

#1672 Add API v2 events admin
  website/documents/api/__init__.py
  website/documents/api/v2/__init__.py
  website/documents/api/v2/serializers/__init__.py
  website/documents/api/v2/serializers/document.py
  website/events/admin.py
  website/events/admin_views.py
  website/events/api/v1/viewsets/event_registrations.py
  website/events/api/v1/viewsets/events.py
  website/events/api/v2/admin/__init__.py
  website/events/api/v2/admin/filters.py
  website/events/api/v2/admin/permissions.py
  website/events/api/v2/admin/serializers/__init__.py
  website/events/api/v2/admin/serializers/event.py
  website/events/api/v2/admin/serializers/event_registration.py
  website/events/api/v2/admin/urls.py
  website/events/api/v2/admin/views.py
  website/events/api/v2/filters.py
  website/events/api/v2/serializers/event.py
  website/events/api/v2/views.py
  website/events/forms.py
  website/events/migrations/0048_remove_multilang_field.py
  website/events/models/event.py
  website/events/models/registration_information_field.py
  website/events/payables.py
  website/events/services.py
  website/events/tests/test_admin.py
  website/events/tests/test_api.py
  website/events/tests/test_models.py
  website/events/tests/test_services.py
  website/events/tests/test_views.py
  website/pizzas/tests.py
  website/pushnotifications/tests.py
  website/sales/tests/test_admin.py
  website/thaliawebsite/api/v2/admin/__init__.py
  website/thaliawebsite/api/v2/admin/model/__init__.py
  website/thaliawebsite/api/v2/admin/model/diff.py
  website/thaliawebsite/api/v2/admin/permissions.py
  website/thaliawebsite/api/v2/admin/urls.py
  website/thaliawebsite/api/v2/admin/views.py
  website/thaliawebsite/api/v2/urls.py
  website/thaliawebsite/settings.py
  website/utils/admin.py
  website/utils/management/commands/createfixtures.py
Labels: documents, events, feature, pizzas, push-notifications, sales

#1717 Make registrations readonly after they are completed
  website/registrations/admin.py
Labels: registrations

#1714 Make membership ManyToOne instead of OneToOne
  website/registrations/migrations/0027_alter_entry_membership.py
  website/registrations/models.py
Labels: registrations

#1715 Fix username uniqueness
  website/payments/admin_views.py
  website/payments/tests/test_admin_views.py
  website/registrations/models.py
  website/registrations/services.py
  website/registrations/signals.py
  website/registrations/tests/test_signals.py
Labels: payments, registrations

#1719 Fix missing slides and frontpage articles in API v2
  website/announcements/models.py
Labels: announcements, api

#1720 Fix titles and description in event fixtures
  website/utils/management/commands/createfixtures.py
Labels: bug

#1721 Added member group descriptions to API v2
  website/activemembers/api/v2/serializers/member_group.py
Labels: activemembers, api

#1716 Payment widget registry
  website/payments/templates/payments/widgets/payment.html
  website/payments/tests/test_widgets.py
  website/payments/widgets.py
Labels: payments

#1684 Migrate the events admin to use API v2 for ajax requests
  website/events/static/events/js/admin.js
  website/events/templates/events/admin/registrations_table.html
  website/payments/api/v2/admin/serializers/payable_detail.py
Labels: events, feature, payments

#1736 Fix title_en mention in pizzas payable
  website/pizzas/payables.py
Labels: bug, pizzas

#1734 Re-add THALIA_PAY_FOR_NEW_MEMBERS setting
  website/thaliawebsite/settings.py
Labels: bug

#1737 Payable tpay allowed
  website/payments/api/v2/admin/serializers/payable_detail.py
  website/payments/api/v2/serializers/payable_detail.py
  website/registrations/tests/test_services.py
Labels: api, feature, payments, registrations

#1728 Add tpay status API endpoint
  website/payments/api/v2/serializers/payment_user.py
  website/payments/api/v2/urls.py
  website/payments/api/v2/views.py
Labels: api, feature, payments

#1739 Fix missing fields in definition for renewal form
  website/registrations/forms.py
Labels: bug, registrations

#1741 Hide benefactor renewal option if not allowed
  website/registrations/views.py
Labels: bug, registrations

#1743 Fix contribution being float in renewal
  website/registrations/forms.py
Labels: bug, registrations

#1756 Do not allow deleting payments
  website/payments/api/v2/admin/views.py
Labels: api, payments

#1757 Allow deleting/unregistering event registrations from API
  website/events/api/v2/admin/views.py
  website/events/api/v2/views.py
Labels: api, events, feature

#1749 Fix pizza event to food event in pizza views
  website/pizzas/services.py
  website/pizzas/views.py
Labels: bug, pizzas, refactor

#1750 Make event registration member serializer read only
  website/events/api/v2/serializers/event_registration.py
Labels: api, bug, chore, events

#1727 Use AdminAPIViews for sales API
  website/sales/api/v2/admin/__init__.py
  website/sales/api/v2/admin/permissions.py
  website/sales/api/v2/admin/serializers/__init__.py
  website/sales/api/v2/admin/serializers/order.py
  website/sales/api/v2/admin/serializers/shift.py
  website/sales/api/v2/admin/urls.py
  website/sales/api/v2/admin/views.py
  website/sales/tests/test_api.py
  website/thaliawebsite/api/v2/admin/urls.py
  website/thaliawebsite/api/v2/urls.py
Labels: api, refactor, sales

#1751 Make signature widget background white
  website/payments/static/admin/payments/css/signature.css
Labels: bug, payments, style

#1760 Remove delete endpoint from listview for event registrations
  website/events/api/v2/views.py
Labels: events

#1758 Fix events api registration fields
  website/events/api/v1/viewsets/event_registrations.py
  website/events/api/v2/admin/views.py
  website/events/api/v2/views.py
  website/events/services.py
Labels: api, bug, chore, events

#1745 Reintroduce membership upgrade
  website/registrations/models.py
  website/registrations/services.py
  website/registrations/tests/test_models.py
Labels: bug, registrations

#1765 Make tpay_allowed a setting for food_events
  website/pizzas/migrations/0015_foodevent_tpay_allowed.py
  website/pizzas/models.py
  website/pizzas/payables.py
Labels: feature, pizzas

#1763 Delete tpay payment if order is modified
  website/pizzas/views.py
Labels: bug, pizzas

#1764 Add renewal upgrade discount help text
  website/registrations/forms.py
Labels: registrations

#1767 Fix delete payment
  website/pizzas/views.py
Labels: bug, pizzas

#1768 Fix paymentadmin batch bug
  website/payments/admin.py
  website/payments/services.py
  website/pizzas/migrations/0016_alter_foodorder_payment.py
  website/pizzas/models.py
  website/pizzas/views.py
Labels: payments, pizzas

#1782 Fix shift statistics
  website/sales/models/shift.py
  website/sales/tests/test_models.py
Labels: bug, sales

#1793 Delete payments on FoodOrder update via API
  website/pizzas/api/v2/views.py
Labels: api, bug, pizzas

#1788 Show order payment url for free orders to identify
  website/sales/models/order.py
  website/sales/views.py
Labels: feature, sales

#1794 Display warning in order admin if payer is underage
  website/sales/admin/order_admin.py
Labels: feature, sales

#1797 Added DS_Store to gitignore
  .gitignore
Labels: chore

#1796 Added API endpoint for pushnotification categories
  website/pushnotifications/api/v2/urls.py
  website/pushnotifications/api/v2/views.py
Labels: api, feature, push-notifications

#1789 Do not submit form onload if tpay not enabled
  website/payments/templates/payments/templatetags/payment_button.html
  website/sales/templates/sales/order_payment.html
Labels: bug, payments, sales

#1790 Change scopes for sales API
  website/sales/api/v2/admin/views.py
  website/thaliawebsite/settings.py
Labels: api, chore, sales

#1791 Use color variable for events admin payment dropdown text
  website/events/static/events/css/admin.scss
Labels: bug, events, style
