Repository svthalia/concrexit, pull requests merged in 2021-01, with the labels that each got.

#1477 Add NixOS test
  .github/workflows/nix.yaml
  docs/thaliawebsite.rst
  nix/concrexit.nix
  nix/configuration.nix
  nix/test.nix
  release.nix
  website/thaliawebsite/apps.py
  website/thaliawebsite/settings.py
Labels: chore, ci, nix

#1495 Rename --preset to --primary and fix the grid overlay RGBA background
  website/announcements/static/announcements/css/style.scss
  website/events/static/events/css/style.scss
  website/thaliawebsite/static/css/_buttons.scss
  website/thaliawebsite/static/css/_forms.scss
  website/thaliawebsite/static/css/_navs.scss
  website/thaliawebsite/static/css/_progress.scss
  website/thaliawebsite/static/css/_typography.scss
  website/thaliawebsite/static/css/_variables.scss
  website/thaliawebsite/static/css/base.scss
Labels: announcements, bug, events

#1513 Add base url to discord and online images in Google Maps urls
  website/utils/snippets.py
Labels: bug
