Repository svthalia/concrexit, pull requests merged in 2021-03, with the labels that each got.

#1492 Added the 'too late to cancel without paying fine'-message to the API…
  website/events/api/v1/serializers/events/retrieve.py
  website/events/models/event.py
  website/events/templates/events/event.html
  website/events/tests/test_views.py
Labels: events, feature

#1573 Update django-debug-toolbar
  poetry.lock
Labels: bug, chore

#1578 Fix http/https redirect for oauth in production/development
  website/thaliawebsite/settings.py
Labels: bug, priority: high, security

#1574 Allow registration for events that do not require it
  website/events/models/event_registration.py
  website/events/services.py
  website/events/templates/events/event.html
  website/events/tests/test_api.py
  website/events/tests/test_views.py
Labels: events, feature

#1585 Add WhatsApp link to welcome email
  website/members/templates/members/email/welcome.txt
Labels: board, feature, members, priority: low

#1227 Thalia Pay for registrations
  website/payments/admin.py
  website/payments/tests/test_admin.py
  website/registrations/admin.py
  website/registrations/forms.py
  website/registrations/migrations/0026_auto_20210315_2105.py
  website/registrations/models.py
  website/registrations/services.py
  website/registrations/templates/registrations/register_benefactor.html
  website/registrations/templates/registrations/register_member.html
  website/registrations/tests/test_admin.py
  website/registrations/tests/test_models.py
  website/registrations/tests/test_services.py
  website/registrations/tests/test_views.py
  website/registrations/views.py
Labels: feature, payments, registrations

#1586 Fixed encoding bug in withdrawal notice issue
  website/payments/templates/payments/email/tpay_withdrawal_notice_mail.txt
Labels: payments

#1594 Fix statistics
  website/members/static/members/js/statistics.js
Labels: members

#1595 Guarantee mandate no. uniqueness
  website/payments/models.py
  website/payments/services.py
  website/payments/views.py
Labels: bug, payments

#1589 Add current member API endpoint
  website/members/api/v2/serializers/member.py
  website/members/api/v2/serializers/profile.py
  website/members/api/v2/urls.py
  website/members/api/v2/views.py
  website/thaliawebsite/api/v2/serializers/thumbnail.py
  website/thaliawebsite/settings.py
Labels: feature, members
