Repository svthalia/concrexit, pull requests merged in 2021-04, with the labels that each got.

#1592 Add event registration API v2
  website/activemembers/api/v2/serializers/member_group.py
  website/activemembers/api/v2/serializers/member_group_membership.py
  website/events/api/v2/filters.py
  website/events/api/v2/serializers/event_registration.py
  website/events/api/v2/urls.py
  website/events/api/v2/views.py
  website/events/services.py
  website/members/api/v2/serializers/member.py
  website/thaliawebsite/api/openapi.py
  website/thaliawebsite/api/v2/serializers/empty.py
  website/thaliawebsite/settings.py
Labels: activemembers, events, feature, members

#1602 Add extra filters for the members v2 API
  website/members/api/v2/filters.py
  website/members/api/v2/views.py
Labels: feature, members

#1596 Prevent API from crashing when throttling on the anonymous user
  website/thaliawebsite/api/throttling.py
  website/thaliawebsite/settings.py
Labels: bug

#1487 Add foreignkey between photos and event
  website/events/templates/events/event.html
  website/photos/admin.py
  website/photos/management/commands/link_album_events_read.py
  website/photos/management/commands/link_album_events_write.py
  website/photos/migrations/0013_album_event.py
  website/photos/models.py
  website/photos/templates/photos/album.html
Labels: events, feature, photos

#1576 link event to the album title and date
  website/photos/admin.py
  website/photos/api/v1/viewsets.py
  website/photos/forms.py
  website/photos/migrations/0014_auto_20210315_2200.py
  website/photos/models.py
  website/photos/tests/test_admin.py
  website/photos/tests/test_services.py
  website/photos/tests/test_views.py
  website/photos/views.py
Labels: feature, photos, refactor

#1601 Fix batch creation CSRF check
  website/payments/admin_views.py
  website/payments/templates/admin/payments/change_list.html
  website/payments/tests/test_admin_views.py
Labels: bug, payments

#1551 Add calendar coloring based on registration
  website/events/api/calendarjs/serializers.py
  website/events/services.py
  website/events/static/events/css/style.scss
Labels: events, feature

#1445 Create sales app backend
  poetry.lock
  pyproject.toml
  website/events/admin.py
  website/events/migrations/0046_event_shift.py
  website/events/models/event.py
  website/payments/templates/payments/templatetags/payment_button.html
  website/payments/templates/payments/widgets/payment.html
  website/sales/__init__.py
  website/sales/admin/__init__.py
  website/sales/admin/order_admin.py
  website/sales/admin/product_admin.py
  website/sales/admin/shift_admin.py
  website/sales/api/v2/__init__.py
  website/sales/api/v2/serializers/__init__.py
  website/sales/api/v2/serializers/order.py
  website/sales/api/v2/serializers/shift.py
  website/sales/api/v2/urls.py
  website/sales/api/v2/views.py
  website/sales/apps.py
  website/sales/migrations/0001_initial.py
  website/sales/migrations/__init__.py
  website/sales/models/__init__.py
  website/sales/models/order.py
  website/sales/models/product.py
  website/sales/models/shift.py
  website/sales/services.py
  website/sales/templates/sales/order_payment.html
  website/sales/tests/__init__.py
  website/sales/tests/test_admin.py
  website/sales/tests/test_api.py
  website/sales/tests/test_models.py
  website/sales/tests/test_services.py
  website/sales/tests/test_views.py
  website/sales/urls.py
  website/sales/views.py
  website/thaliawebsite/api/v2/urls.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/templates/index.html
  website/thaliawebsite/urls.py
Labels: events, feature, new app, payments

#1620 Mailto link in event admin that automatically puts addresses in bcc
  website/events/admin.py
  website/events/admin_views.py
  website/events/locale/nl/LC_MESSAGES/django.mo
  website/events/locale/nl/LC_MESSAGES/django.po
  website/events/templates/events/admin/details.html
  website/events/templates/events/admin/email_export.html
Labels: events

#1628 Added DEFAULT_AUTO_FIELD setting
  website/thaliawebsite/settings.py
Labels: chore

#1609 Allow changing event registration information after publishing
  website/events/models/event.py
Labels: events

#1630 Change lookup field from pk to slug
  website/photos/api/v2/serializers/album.py
  website/photos/api/v2/serializers/photo.py
  website/photos/api/v2/urls.py
  website/photos/api/v2/views.py
Labels: photos
