Repository svthalia/concrexit, pull requests merged in 2021-12, with the labels that each got.

#2024 Add vacancies API
  website/partners/api/v2/filters.py
  website/partners/api/v2/serializers/vacancy.py
  website/partners/api/v2/urls.py
  website/partners/api/v2/views.py
Labels: feature, partners, api

#2046 Add support for multiple local partners
  website/partners/models.py
  website/partners/templates/partners/index.html
  website/partners/views.py
Labels: feature, partners

#2068 Thalia admin styling
  website/thaliawebsite/templates/admin/base_site.html
Labels: feature, style

#2069 Fix crash on vacancy detail api
  website/partners/api/v2/views.py
Labels: partners

#2049 Add an admin option to the MemberSerializer for names
  website/events/api/v2/admin/serializers/event_registration.py
  website/members/api/v2/serializers/member.py
  website/payments/api/v2/admin/serializers/payable_detail.py
  website/pizzas/api/v2/admin/serializers/order.py
Labels: events, feature, members, pizzas, payments

#1984 Added filter to Shift API endpoint
  website/sales/api/v2/admin/views.py
  website/sales/api/v2/filters.py
Labels: feature, sales

#2051 Support individual prices for event registrations
  website/events/api/v2/admin/serializers/event_registration.py
  website/events/migrations/0050_auto_20211204_1841.py
  website/events/models/event_registration.py
  website/events/payables.py
  website/events/templates/events/admin/registrations_table.html
Labels: events, feature

#1979 optimize event list queries
  website/events/api/calendarjs/serializers.py
  website/events/api/calendarjs/views.py
  website/events/api/v1/serializers/events/retrieve.py
  website/events/api/v2/serializers/event.py
  website/events/api/v2/views.py
  website/events/models/event_registration.py
  website/events/services.py
  website/events/templates/events/event.html
  website/events/views.py
Labels: priority: low, events, refactor, wip, optimization

#2070 Add-categories-to-vacancies-api
  website/partners/api/v2/filters.py
  website/partners/api/v2/serializers/__init__.py
  website/partners/api/v2/serializers/vacancy.py
  website/partners/api/v2/serializers/vacancy_category.py
  website/partners/api/v2/urls.py
  website/partners/api/v2/views.py
Labels: partners

#2079 Remove pizzas javascript file that is unused
  website/pizzas/static/pizzas/js/main.js
Labels: pizzas

#2067 Add short description field to events
  website/events/admin.py
  website/events/api/v1/serializers/events/retrieve.py
  website/events/api/v2/admin/serializers/event.py
  website/events/api/v2/serializers/event.py
  website/events/migrations/0051_event_caption.py
  website/events/models/event.py
  website/newsletters/static/admin/newsletters/js/forms.js
Labels: events, newsletter

#2081 Add instagram icon to footer
  website/thaliawebsite/templates/base.html
Labels: feature

#2094 Add staging url to deploy workflow
  .github/workflows/deploy.yaml
Labels: skip-changelog, ci

#2082 Remove auto-renew field from member profiles
  website/members/admin.py
  website/members/admin_views.py
  website/members/fixtures/members.json
  website/members/migrations/0040_remove_profile_auto_renew.py
  website/members/models/profile.py
  website/members/templates/admin/members/change_list.html
  website/members/templates/members/email/expiration_announcement.txt
  website/payments/admin.py
Labels: members, payments, chore

#2092 Use caption for front page events
  website/events/templates/events/event_cards.html
Labels: events

#2093 Use event caption for opengraph description
  website/events/templates/events/event.html
Labels: events, feature

#2078 Add promotion model
  .github/CODEOWNERS
  .github/app-labeler.yaml
  website/events/admin.py
  website/promotion/__init__.py
  website/promotion/admin.py
  website/promotion/apps.py
  website/promotion/emails.py
  website/promotion/migrations/0001_initial.py
  website/promotion/migrations/__init__.py
  website/promotion/models.py
  website/promotion/signals.py
  website/promotion/templates/requests/new_request_email.txt
  website/thaliawebsite/settings.py
Labels: feature, new app, promotion

#2086 Add dataminimisation for payments, sales and pizzas
  website/events/services.py
  website/payments/services.py
  website/payments/templates/payments/payment_list.html
  website/payments/tests/test_services.py
  website/pizzas/services.py
  website/sales/services.py
  website/thaliawebsite/management/commands/dataminimisation.py
  website/utils/snippets.py
Labels: events, feature, pizzas, payments, chore, sales

#2104 Upgrade to python 3.9
  README.md
  default.nix
  poetry.lock
  pyproject.toml
Labels: chore

#2097 Introduce PaymentAmountField
  website/events/migrations/0052_auto_20211216_2300.py
  website/events/models/event.py
  website/events/models/event_registration.py
  website/merchandise/migrations/0006_alter_merchandiseitem_price.py
  website/merchandise/migrations/0007_alter_merchandiseitem_price.py
  website/merchandise/models.py
  website/newsletters/migrations/0013_auto_20211216_2250.py
  website/newsletters/migrations/0014_auto_20211216_2257.py
  website/newsletters/models.py
  website/payments/migrations/0018_alter_payment_amount.py
  website/payments/models.py
  website/payments/tests/test_models.py
  website/pizzas/migrations/0017_alter_product_price.py
  website/pizzas/models.py
  website/registrations/migrations/0028_alter_entry_contribution.py
  website/registrations/models.py
  website/sales/migrations/0002_auto_20211216_2300.py
  website/sales/models/order.py
  website/sales/models/product.py
Labels: events, newsletter, pizzas, registrations, merchandise, payments, chore, sales

#2107 Allow manual start of release drafter workflow
  .github/workflows/release-drafter.yaml
Labels: chore

#2109 Fix margin top of vacancies
  website/partners/templates/partners/index.html
Labels: partners, bug

#2112 Fix newsletter send buttons in admin
  website/newsletters/admin.py
Labels: newsletter, bug

#2105 Fix newsletter for up to three local partners
  website/newsletters/emails.py
  website/newsletters/templates/newsletters/email.html
  website/newsletters/templates/newsletters/email.txt
  website/newsletters/views.py
Labels: newsletter, bug

#2116 Fix CleanedModelSerializer
  website/events/api/v2/admin/serializers/event_registration.py
  website/thaliawebsite/api/v2/serializers/cleaned_model_serializer.py
Labels: priority: high, events, api, bug

#2117 Revert "Fix newsletter for up to three local partners (#2105)"
  website/newsletters/emails.py
  website/newsletters/templates/newsletters/email.html
  website/newsletters/templates/newsletters/email.txt
  website/newsletters/views.py
Labels: newsletter

#2121 Fix ordering summaries front page
  website/education/templatetags/frontpage_summaries.py
Labels: education, bug

#2114 Fix getting board for a certain year when creating mailinglists
  website/mailinglists/models.py
Labels: bug

#2118 Hotfix payment amount 0 for free events
  website/events/models/event.py
  website/payments/models.py
Labels: events, bug, payments

#2125 Make API v2 default in swagger
  website/thaliawebsite/api/urls.py
Labels: api, chore

#2124 Fix serializer validation
  website/events/api/v2/admin/serializers/event_registration.py
  website/events/api/v2/admin/views.py
  website/thaliawebsite/api/v2/serializers/cleaned_model_serializer.py
Labels: events, api, bug

#2127 Run dataminimisation every day
  infra/nixos/concrexit.nix
Labels: server, nix
