Repository svthalia/concrexit, pull requests merged in 2021-11, with the labels that each got.

#2014 Remove todo from code
  nix/concrexit.nix
Labels: server, chore

#1939 Improve vacancy page layout
  website/partners/admin.py
  website/partners/migrations/0021_auto_20211101_2005.py
  website/partners/models.py
  website/partners/templates/partners/vacancies.html
  website/partners/templates/partners/vacancy_card.html
  website/partners/templatetags/partner_cards.py
Labels: partners

#2011 Use API v2 for pizzas admin
  website/pizzas/api/v2/admin/urls.py
  website/pizzas/static/pizzas/js/admin.js
  website/pizzas/templates/pizzas/admin/orders.html
Labels: priority: high, pizzas, bug

#2022 Make the OIDC_RSA_PRIVATE_KEY setting base64
  website/thaliawebsite/settings.py
Labels: chore

#2021 Use start date for registration info text in calendar
  website/events/api/calendarjs/serializers.py
Labels: events, bug

#2040 Update renovate to run on Wednesday
  renovate.json
Labels: chore, skip-changelog
