Repository svthalia/concrexit, pull requests merged in 2022-12, with the labels that each got.

#2705 Fix participant count property of Event model
  website/events/models/event.py
  website/events/tests/test_views.py
Labels: events, bug

#2710 Pk value check to fix 2698
  website/sales/models/shift.py
Labels: bug, sales

#2709 Fix food event api
  website/pizzas/api/v2/views.py
Labels: pizzas, bug

#2711 Emergency brake for processing sales batches
  website/payments/services.py
Labels: payments

#2712 Fix non-organisers not having access to promo requests
  website/promotion/admin.py
Labels: promotion

#2713 fix food event list as well
  website/pizzas/api/v2/views.py
Labels: pizzas

#2734 Do announcements in the proper app
  website/announcements/context_processors.py
  website/announcements/middleware.py
  website/members/apps.py
  website/members/templates/members/announcement_no_events.html
  website/members/templates/members/announcement_no_pfp.html
  website/members/templates/members/announcement_not_member.html
  website/thaliawebsite/settings.py
  website/thaliawebsite/templates/base.html
Labels: announcements, members

#2728 Move menu out to individual apps
  website/activemembers/apps.py
  website/documents/apps.py
  website/education/apps.py
  website/events/apps.py
  website/members/apps.py
  website/merchandise/apps.py
  website/partners/apps.py
  website/photos/apps.py
  website/singlepages/apps.py
  website/thabloid/apps.py
  website/thaliawebsite/apps.py
  website/thaliawebsite/menus.py
  website/thaliawebsite/templates/menu/menu.html
  website/thaliawebsite/templatetags/menu.py
Labels: activemembers, documents, education, events, members, partners, photos, thabloid, merchandise, singlepages
