Repository svthalia/concrexit, pull requests merged in 2022-06, with the labels that each got.

#2355 Properly use Django Storage API backends
  poetry.lock
  pyproject.toml
  website/activemembers/migrations/0041_alter_membergroup_photo.py
  website/activemembers/models.py
  website/announcements/migrations/0013_alter_slide_content.py
  website/announcements/models.py
  website/documents/views.py
  website/education/views.py
  website/members/migrations/0041_alter_profile_photo.py
  website/members/models/profile.py
  website/merchandise/migrations/0008_alter_merchandiseitem_image.py
  website/merchandise/models.py
  website/newsletters/services.py
  website/newsletters/views.py
  website/partners/migrations/0024_alter_partner_logo_alter_partner_site_header_and_more.py
  website/partners/models.py
  website/photos/admin.py
  website/photos/models.py
  website/photos/services.py
  website/photos/tests/test_views.py
  website/photos/views.py
  website/thabloid/models.py
  website/thabloid/templatetags/thabloid_cards.py
  website/thaliawebsite/management/commands/migratemedia.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/storage/backend.py
  website/thaliawebsite/urls.py
  website/utils/media/services.py
  website/utils/media/views.py
Labels: activemembers, announcements, documents, education, members, newsletter, partners, photos, thabloid, merchandise

#2364 Add script to remove unused media
  website/utils/management/commands/remove_unused_media.py
Labels: feature

#2254 Make price serializers match PaymentAmountField
  website/events/api/v2/admin/serializers/event.py
  website/events/api/v2/serializers/event.py
  website/payments/api/v2/serializers/payment_amount.py
  website/payments/models.py
  website/sales/api/v2/admin/serializers/order.py
Labels: events, payments, sales

#2350 Fixtures for sales tests
  website/sales/fixtures/products.json
  website/sales/tests/test_admin.py
  website/sales/tests/test_api.py
  website/sales/tests/test_models.py
  website/sales/tests/test_services.py
  website/sales/tests/test_views.py
Labels: test, sales

#2381 flake.lock: Update
  flake.lock
Labels: dependency-update

#2382 Strip first slash from media migration upload path
  website/thaliawebsite/management/commands/migratemedia.py
Labels: bug

#2374 Update fancybox to v4
  website/partners/static/partners/js/main.js
  website/partners/templates/partners/partner.html
  website/photos/static/photos/css/style.scss
  website/photos/static/photos/js/main.js
  website/photos/templates/photos/album.html
  website/photos/templatetags/photos_cards.py
  website/thabloid/static/thabloid/js/main.js
  website/thabloid/templates/thabloid/index.html
  website/thaliawebsite/static/css/fancybox.css
  website/thaliawebsite/static/css/jquery.fancybox.css
  website/thaliawebsite/static/js/fancybox.umd.js
  website/thaliawebsite/static/js/jquery.fancybox.min.js
  website/thaliawebsite/static/js/main.js
  website/thaliawebsite/templates/base.html
Labels: partners, photos, thabloid, chore

#2352 Add Dockerfile and related stuff
  .dockerignore
  Dockerfile
  docker-compose.yml
  infra/docker/local/docker-entrypoint.sh
  infra/docker/local/nginx.conf
  infra/docker/local/production.example.env
  poetry.lock
  pyproject.toml
  website/thaliawebsite/settings.py
Labels: chore

#2383 Fix partner migrations Python location scripts
  website/partners/migrations/0024_alter_partner_logo_alter_partner_site_header_and_more.py
  website/partners/migrations/0025_migrate_public_folders.py
Labels: partners, bug
