Repository svthalia/concrexit, pull requests merged in 2022-11, with the labels that each got.

#2617 Add some basic integration tests for events
  website/events/tests/test_api.py
  website/events/tests/test_views.py
Labels: events

#2618 Add more info to readme to help beginners
  README.md
Labels: docs

#2637 Add likes to album api
  website/photos/api/v2/serializers/photo.py
Labels: photos

#2646 Prefetch likes and liked photo album
  website/photos/api/v2/serializers/photo.py
  website/photos/api/v2/views.py
  website/photos/models.py
  website/photos/views.py
Labels: photos

#2647 Add filepond for album uploads
  .github/workflows/test.yaml
  .gitignore
  poetry.lock
  pyproject.toml
  website/photos/admin.py
  website/photos/forms.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/tests/test_models.py
  website/thaliawebsite/urls.py
Labels: photos

#2458 Centralize event status logic and allow message overriding
  website/events/admin/event.py
  website/events/api/calendarjs/serializers.py
  website/events/api/calendarjs/views.py
  website/events/api/v2/serializers/event.py
  website/events/api/v2/views.py
  website/events/migrations/0060_event_registration_msg_cancelled_and_more.py
  website/events/migrations/0061_event_registration_msg_cancelled_final_and_more.py
  website/events/migrations/0062_alter_event_registration_msg_cancelled_late_and_more.py
  website/events/models/event.py
  website/events/models/status.py
  website/events/services.py
  website/events/templates/events/event.html
  website/events/tests/test_views.py
  website/events/views.py
Labels: events, api, refactor

#2651 Use header font for buttons
  website/thaliawebsite/static/css/base.scss
Labels: style

#2648 Student participation page overhaul
  website/education/templates/education/student_participation.html
  website/education/urls.py
  website/education/views.py
  website/singlepages/static/img/student_participation/FSR_logo.png
  website/singlepages/static/img/student_participation/PC_logo_general.jpg
  website/singlepages/static/img/student_participation/PC_logo_student.jpg
  website/singlepages/static/img/student_participation/USR_logo.png
  website/singlepages/templates/singlepages/student_participation.html
  website/singlepages/urls.py
  website/singlepages/views.py
  website/thaliawebsite/menus.py
Labels: education, feature, singlepages
