Repository svthalia/concrexit, pull requests merged in 2022-04, with the labels that each got.

#2269 Remove aprilfools
  website/thaliawebsite/templates/base.html
Labels: skip-changelog

#2238 Protect deleting payments for orders
  website/sales/migrations/0003_alter_order_payment.py
  website/sales/models/order.py
Labels: sales

#2275 Remove duplicate payable registry
  website/payments/payables.py
Labels: payments

#2239 Copy product name for order items
  website/sales/admin/order_admin.py
  website/sales/api/v2/admin/serializers/order.py
  website/sales/migrations/0004_orderitem_product_name_alter_orderitem_product.py
  website/sales/models/order.py
Labels: sales

#2278 added link and invitation text to email content
  website/members/templates/members/email/welcome.txt
Labels: members

#2277 registration ical feed is only registered events
  website/events/feeds.py
Labels: priority: low, events, feature

#1772 Immutable payables
  website/events/models/event_registration.py
  website/events/payables.py
  website/payments/payables.py
  website/payments/tests/__mocks__.py
  website/payments/tests/test_payables.py
  website/payments/tests/test_widgets.py
  website/payments/widgets.py
  website/pizzas/payables.py
  website/registrations/payables.py
  website/registrations/services.py
  website/registrations/tests/test_admin.py
  website/registrations/tests/test_models.py
  website/sales/admin/order_admin.py
  website/sales/payables.py
  website/sales/tests/test_models.py
Labels: events, pizzas, registrations, payments, sales

#1787 User orders
  website/sales/admin/order_admin.py
  website/sales/admin/shift_admin.py
  website/sales/api/v2/admin/serializers/order.py
  website/sales/api/v2/admin/views.py
  website/sales/api/v2/serializers/__init__.py
  website/sales/api/v2/serializers/user_order.py
  website/sales/api/v2/serializers/user_shift.py
  website/sales/api/v2/urls.py
  website/sales/api/v2/views.py
  website/sales/migrations/0005_order_created_by_selforderperiod.py
  website/sales/models/order.py
  website/sales/models/shift.py
  website/sales/tests/test_api.py
  website/thaliawebsite/api/v2/urls.py
Labels: feature, api, sales

#2288 Keep HTML tags in events no_registration_message
  website/events/migrations/0055_alter_event_no_registration_message.py
  website/events/models/event.py
  website/events/templates/events/event.html
Labels: events

#2297 Re-add age check and fix error
  website/sales/admin/order_admin.py
Labels: sales

#2307 flake.lock: Update
  flake.lock
Labels: dependency-update

#2299 Add global uniqueness constraint on push notification tokens
  website/pushnotifications/migrations/0020_alter_device_registration_id.py
  website/pushnotifications/models.py
Labels: push-notifications

#2294 Fix updating event registration fields
  website/events/admin/views.py
Labels: events
