Repository svthalia/concrexit, pull requests merged in 2022-01, with the labels that each got.

#2146 Fix event registration admin serializer to not throw a 404 on schema generation
  website/events/api/v2/admin/serializers/event_registration.py
  website/events/api/v2/admin/views.py
Labels: events, bug

#2166 Fix missing true name in foodorder admin serializer
  website/pizzas/api/v2/admin/serializers/order.py
Labels: pizzas

#2181 fix the width of the member search form in mobile layout
  website/members/templates/members/index.html
Labels: members, style, bug

#2174 Fix allow zero value for certain PaymentAmountFields
  website/newsletters/models.py
  website/sales/models/order.py
  website/sales/models/product.py
Labels: newsletter, bug, sales

#2159 Add member and email fields to registration
  website/events/admin_views.py
  website/events/api/v2/admin/serializers/event_registration.py
  website/events/emails.py
  website/events/migrations/0053_auto_20220112_2049_squashed_0054_auto_20220126_1927.py
  website/events/models/event_registration.py
  website/events/templates/events/admin/details.html
  website/events/templates/events/admin/registrations_table.html
Labels: events, feature

#2186 added ordering by date to PaymentInline
  website/payments/admin.py
Labels: payments

#2185 Add titles to textless links
  website/announcements/templates/announcements/slider.html
  website/thaliawebsite/templates/base.html
Labels: announcements

#2190 Fix alert dimissable workings
  website/thaliawebsite/templates/includes/alert.html
  website/thaliawebsite/templatetags/alert.py
Labels: bug

#2189 Fix announcements close button
  website/announcements/static/announcements/css/style.scss
  website/announcements/static/announcements/js/announcements.js
  website/announcements/templates/announcements/announcement.html
Labels: announcements, bug
