Repository svthalia/concrexit, pull requests merged in 2022-09, with the labels that each got.

#2445 Fix societies page template
  website/activemembers/templates/activemembers/society_index.html
Labels: activemembers

#2450 Fix template for pasword reset pages
  website/templates/registration/password_reset_done.html
  website/templates/registration/password_reset_form.html
Labels: bug

#2454 Fix None username during registration
  website/registrations/services.py
Labels: registrations, bug

#2465 Mark present url
  poetry.lock
  pyproject.toml
  website/events/admin/event.py
  website/events/admin/views.py
  website/events/migrations/0056_event_mark_present_url_token.py
  website/events/migrations/0057_event_mark_present_url_token.py
  website/events/migrations/0058_event_mark_present_url_token.py
  website/events/models/event.py
  website/events/templates/admin/events/event/change_form_object_tools.html
  website/events/templates/events/admin/details.html
  website/events/tests/test_views.py
  website/events/urls.py
  website/events/views.py
Labels: events, feature

#2470 Do not crash when method in required scopes is not set
  website/thaliawebsite/api/v2/permissions.py
Labels: api, bug

#2468 Add missing fancybox import on the vacancies page
  website/partners/templates/partners/vacancies.html
Labels: partners, bug

#2451 Fix newsletter static image
  website/newsletters/static/newsletters/logo-nl.png
  website/newsletters/templates/newsletters/email.html
Labels: newsletter, bug

#2473 add check for age restriction and age on orders
  website/payments/payables.py
  website/payments/services.py
  website/payments/tests/__mocks__.py
  website/payments/tests/test_services.py
  website/sales/payables.py
Labels: payments, sales

#2475 Add default promotion request manager back
  website/promotion/migrations/0003_alter_promotionrequest_managers.py
  website/promotion/models.py
Labels: promotion

#2486 Relax rate limits API
  website/thaliawebsite/settings.py
Labels: bug

#2480 Switch to docker based deployments
  .github/workflows/deploy-production.yaml
  .github/workflows/deploy-staging.yaml
  .github/workflows/nix.yaml
  .github/workflows/release-terraform-plan.yaml
  .github/workflows/update-flake.yaml
  Dockerfile
  concrexit-server.nix
  default.nix
  flake.lock
  flake.nix
  infra/docker/collect-static.sh
  infra/docker/docker-entrypoint.sh
  infra/docker/local/docker-entrypoint.sh
  infra/docker/local/production.example.env
  infra/docker/production/concrexit-production-public.env
  infra/docker/staging/concrexit-staging-public.env
  infra/modules/concrexit/main.tf
  infra/modules/concrexit/nix-build-flake.sh
  infra/nixos/concrexit.nix
  infra/nixos/swapfile.nix
  infra/nixos/timed-command.nix
  infra/secrets/concrexit-production.env.age
  infra/secrets/concrexit-staging.env.age
  infra/secrets/secrets.nix
  infra/stages/production/main.tf
  infra/stages/production/variables.tf
  infra/stages/staging/main.tf
  infra/stages/staging/variables.tf
  website/thaliawebsite/settings.py
Labels: skip-changelog

#2489 Add extras postgres to CI make flags for poetry
  Makefile
Labels: bug

#2496 Add album to event foreign key to api
  website/photos/api/v2/serializers/album.py
Labels: photos

#2497 Fix not formatting email subject
  website/members/emails.py
Labels: members

#2461 Optimize many views
  website/education/views.py
  website/events/admin/event.py
  website/events/admin/registration.py
  website/events/api/v2/serializers/event.py
  website/events/api/v2/views.py
  website/events/tests/test_admin.py
  website/members/api/v2/views.py
  website/members/views.py
  website/partners/admin.py
  website/partners/api/v2/views.py
  website/partners/views.py
  website/photos/models.py
  website/photos/views.py
Labels: education, events, members, partners, photos

#2499 Add timer commands
  concrexit-server.nix
  flake.nix
  timed-commands.nix
Labels: bug, skip-changelog

#2477 Don't check locked shift in order clean, improve admin
  website/sales/admin/order_admin.py
  website/sales/admin/shift_admin.py
  website/sales/models/order.py
Labels: bug, sales

#2459 Add possibility to have multiple event organisers
  website/events/admin/event.py
  website/events/admin/forms.py
  website/events/api/calendarjs/serializers.py
  website/events/api/v2/admin/views.py
  website/events/emails.py
  website/events/migrations/0059_multiple_event_organisers.py
  website/events/models/event.py
  website/events/services.py
  website/events/templates/events/event.html
  website/events/tests/test_admin.py
  website/events/tests/test_api.py
  website/events/tests/test_models.py
  website/events/tests/test_services.py
  website/events/tests/test_views.py
  website/pizzas/tests.py
  website/pushnotifications/tests.py
  website/utils/management/commands/createfixtures.py
Labels: events, pizzas, push-notifications

#2474 Photo likes
  website/photos/admin.py
  website/photos/api/v2/urls.py
  website/photos/api/v2/views.py
  website/photos/migrations/0015_kudo.py
  website/photos/migrations/0016_like_delete_kudo.py
  website/photos/migrations/0017_alter_like_unique_together.py
  website/photos/models.py
  website/photos/static/photos/css/style.scss
  website/photos/static/photos/js/main.js
  website/photos/templates/photos/album.html
  website/photos/templates/photos/index.html
  website/photos/templates/photos/liked-photos.html
  website/photos/templatetags/photos_cards.py
  website/photos/urls.py
  website/photos/views.py
Labels: photos

#2500 Don't show pulsing background on partner page
  website/partners/templatetags/partner_cards.py
  website/thaliawebsite/templates/includes/grid_item.html
  website/thaliawebsite/templatetags/grid_item.py
Labels: partners

#2510 Fix image thumbnail transparency
  website/utils/media/services.py
Labels: bug

#2521 Fix events api
  website/events/api/v1/serializers/events/retrieve.py
  website/events/api/v2/admin/serializers/event.py
  website/events/api/v2/serializers/event.py
  website/events/api/v2/views.py
Labels: priority: high, events, api, bug

#2525 Fix rendering vacancies on vacancies index page
  website/partners/static/partners/js/main.js
  website/partners/templates/partners/vacancies.html
  website/thaliawebsite/static/css/main.scss
Labels: partners, bug

#2527 Add X-Forwarded-Proto header
  concrexit-server.nix
  website/thaliawebsite/settings.py
Labels: skip-changelog

#2526 Fix frontpage vacancy URL for inactive partners
  website/partners/templatetags/frontpage_vacancies.py
Labels: partners

#2509 Add cloudfront distribution for CDN usage
  infra/docker/production/concrexit-production-public.env
  infra/docker/staging/concrexit-staging-public.env
  infra/modules/concrexit/main.tf
  infra/modules/concrexit/output.tf
  infra/modules/concrexit/variables.tf
  infra/modules/concrexit_cdn/main.tf
  infra/modules/concrexit_cdn/variables.tf
  infra/secrets/concrexit-production.env.age
  infra/secrets/concrexit-staging.env.age
  infra/stages/production/.terraform.lock.hcl
  infra/stages/production/main.tf
  infra/stages/production/variables.tf
  infra/stages/staging/.terraform.lock.hcl
  infra/stages/staging/main.tf
  infra/stages/staging/variables.tf
  website/thaliawebsite/settings.py
Labels: feature
