Repository svthalia/concrexit, pull requests merged in 2022-02, with the labels that each got.

#2198 removed "Summary" prefix
  website/education/views.py
Labels: education, chore

#2199 Add filter/display of members only value to document admin
  website/documents/admin.py
Labels: documents, feature

#2201 TinyMCE5
  poetry.lock
  pyproject.toml
  website/activemembers/models.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/urls.py
Labels: activemembers, refactor, dependency-update

#2197 Revert "Revert "Fix newsletter for up to three local partners (#2105)""
  website/newsletters/emails.py
  website/newsletters/services.py
  website/newsletters/templates/newsletters/email.html
  website/newsletters/templates/newsletters/email.txt
  website/newsletters/views.py
Labels: newsletter

#2173 Add singlepage for confidential contact person
  website/partners/templatetags/partner_cards.py
  website/singlepages/sitemaps.py
  website/singlepages/static/img/contact_persons/campus-swing.jpeg
  website/singlepages/static/img/contact_persons/flowers-huygens.jpeg
  website/singlepages/static/img/contact_persons/hallway-huygens.jpeg
  website/singlepages/static/img/contact_persons/huygens-sunset.jpeg
  website/singlepages/static/img/contact_persons/isolde-hoogendonk.jpeg
  website/singlepages/static/img/contact_persons/studying-huygens.jpeg
  website/singlepages/static/img/contact_persons/tom-koning.jpeg
  website/singlepages/templates/singlepages/student_well-being.html
  website/singlepages/urls.py
  website/singlepages/views.py
  website/thaliawebsite/menus.py
  website/thaliawebsite/static/css/base.scss
Labels: partners, singlepages

#2007 Move partner events to events package as 'external events'
  website/events/admin/__init__.py
  website/events/admin/event.py
  website/events/admin/external_event.py
  website/events/admin/filters.py
  website/events/admin/forms.py
  website/events/admin/inlines.py
  website/events/admin/registration.py
  website/events/admin/views.py
  website/events/api/calendarjs/serializers.py
  website/events/api/calendarjs/urls.py
  website/events/api/calendarjs/views.py
  website/events/api/v2/serializers/external_event.py
  website/events/api/v2/urls.py
  website/events/api/v2/views.py
  website/events/forms.py
  website/events/migrations/0054_externalevent.py
  website/events/models/categories.py
  website/events/models/event.py
  website/events/models/external_event.py
  website/events/static/events/css/style.scss
  website/events/static/events/js/main.js
  website/partners/admin.py
  website/partners/api/calendarjs/__init__.py
  website/partners/api/calendarjs/serializers.py
  website/partners/api/calendarjs/urls.py
  website/partners/api/calendarjs/views.py
  website/partners/api/v1/serializers.py
  website/partners/api/v1/viewsets.py
  website/partners/api/v2/filters.py
  website/partners/api/v2/serializers/__init__.py
  website/partners/api/v2/serializers/partner_event.py
  website/partners/api/v2/urls.py
  website/partners/api/v2/views.py
  website/partners/migrations/0022_move_to_external_events.py
  website/partners/migrations/0023_delete_partnerevent.py
  website/partners/models.py
  website/thaliawebsite/api/calendarjs/urls.py
  website/utils/management/commands/createfixtures.py
Labels: events, partners, chore

#2202 Added option for membership to end in future.
  infra/nixos/concrexit.nix
  website/activemembers/management/commands/revoke_staff.py
  website/activemembers/models.py
  website/activemembers/services.py
Labels: activemembers, chore

#2103 Make documents member-only by default
  website/documents/migrations/0016_alter_document_members_only.py
  website/documents/models.py
Labels: documents, feature

#2218 Do not revoke staff permission for superusers
  website/activemembers/services.py
Labels: activemembers, bug

#2209 Set external-event text color to black/white
  website/events/static/events/css/style.scss
Labels: events, bug

#2219 Fix margins on the event page
  website/events/templates/events/event.html
Labels: events

#2220 Fix format string in thabloid code
  website/thabloid/models.py
Labels: thabloid

#2217 Fix alumni page
  website/events/services.py
  website/events/views.py
Labels: events

#2203 Add queued filter on event registrations admin and fix queue_position sorting
  website/events/api/v2/admin/filters.py
  website/events/api/v2/admin/views.py
  website/events/models/event_registration.py
  website/events/tests/test_models.py
Labels: events

#2225 Remove redundant class
  website/events/templates/events/event.html
Labels: chore

#2224 Update link to study advisors
  website/singlepages/templates/singlepages/student_well-being.html
Labels: bug, singlepages

#2222 Fix international office url in student well-being page
  website/singlepages/templates/singlepages/student_well-being.html
Labels: singlepages

#2229 Fix unpublished external event admin link
  website/events/api/calendarjs/views.py
Labels: events
