Repository svthalia/concrexit, pull requests merged in 2022-03, with the labels that each got.

#2235 Fix vacancy page
  website/partners/models.py
  website/partners/static/partners/js/main.js
  website/partners/templatetags/partner_cards.py
Labels: partners

#2270 Use the right link to the international page
  website/singlepages/templates/singlepages/student_well-being.html
Labels: singlepages

#2210 Album title and date on same line
  website/events/templates/events/index.html
  website/photos/static/photos/css/style.scss
  website/photos/templates/photos/album.html
  website/thaliawebsite/static/css/base.scss
Labels: events, photos
