Repository svthalia/concrexit, pull requests merged in 2022-10, with the labels that each got.

#2544 remove double call to bootstrap_messages
  website/members/templates/members/user/edit_profile.html
Labels: members

#2546 Handle a view not having an object_id
  website/events/admin/event.py
Labels: priority: critical, events, bug

#2519 Add alternate_logo to Partner
  website/partners/admin.py
  website/partners/migrations/0026_partner_alternate_logo.py
  website/partners/models.py
  website/partners/templates/partners/banners.html
Labels: feature, partners

#2553 Dont call distinct on order queryset
  website/sales/admin/order_admin.py
Labels: sales

#2552 Git hook confirmation
  README.md
  scripts/pre-push-hook
Labels: chore, skip-changelog

#2549 Do not throw away bank accounts that may not be deleted during member data minimisation
  website/members/services.py
  website/payments/services.py
Labels: members, payments

#2548 Squash newsletter migrations
  website/newsletters/migrations/0001_squashed_0015_embed_images_html.py
  website/newsletters/migrations/0015_embed_images_html.py
Labels: newsletter

#2547 Event admin hotfix v2
  website/events/admin/event.py
  website/events/admin/forms.py
  website/events/models/event.py
  website/events/tests/test_models.py
Labels: priority: critical, events, bug

#2575 Make staging actually use DJANGO_ENV=staging
  infra/docker/staging/concrexit-staging-public.env
Labels: chore

#2574 Event admin: Move the cancellation mail/mailing list test to yet another place
  website/events/admin/forms.py
Labels: priority: critical, events, bug

#2579 Use versions for Docker actions
  .github/workflows/publish-container.yml
Labels: bug

#2502 Optimize sales app
  website/sales/admin/order_admin.py
  website/sales/admin/shift_admin.py
  website/sales/migrations/0006_order_is_free_order_total_amount.py
  website/sales/models/order.py
  website/sales/models/shift.py
  website/sales/tests/test_models.py
Labels: bug, sales

#2582 Dont use multiple organisers for external events
  website/events/api/calendarjs/serializers.py
Labels: events

#2583 Show an info message if a user does not have any liked photos on liked-photos.html
  website/photos/templates/photos/liked-photos.html
Labels: photos

#2585 Fix _num_participants for events api
  website/events/api/v2/serializers/event.py
Labels: events

#2586 Fix the members domain
  infra/docker/production/concrexit-production-public.env
Labels: bug

#2587 Fix more organiser stuff in the events admin
  website/events/admin/event.py
  website/events/admin/registration.py
  website/events/api/v2/filters.py
Labels: events, bug

#2589 Fix mass actions in promotions app
  website/promotion/admin.py
Labels: bug, promotion

#2591 Fix promotions publish date error on editing
  website/promotion/forms.py
Labels: bug, promotion

#2595 Add source commit to docker build
  .github/workflows/publish-container.yml
Labels: bug

#2598 Revert "Social media links in newsletters (#2597)"
  website/newsletters/static/newsletters/linkedin.svg
  website/newsletters/static/newsletters/square-facebook.svg
  website/newsletters/static/newsletters/square-github.svg
  website/newsletters/static/newsletters/square-instagram.svg
  website/newsletters/static/newsletters/square-twitter.svg
  website/newsletters/templates/newsletters/email.html
Labels: newsletter

#2599 Social media links in newsletters
  website/newsletters/static/newsletters/linkedin.png
  website/newsletters/static/newsletters/linkedin.svg
  website/newsletters/static/newsletters/square-facebook.png
  website/newsletters/static/newsletters/square-facebook.svg
  website/newsletters/static/newsletters/square-github.png
  website/newsletters/static/newsletters/square-github.svg
  website/newsletters/static/newsletters/square-instagram.png
  website/newsletters/static/newsletters/square-instagram.svg
  website/newsletters/static/newsletters/square-twitter.png
  website/newsletters/static/newsletters/square-twitter.svg
  website/newsletters/templates/newsletters/email.html
Labels: newsletter

#2608 Fix bank account deletion
  website/payments/services.py
Labels: payments

#2610 Add mark-present api
  website/events/api/v2/admin/serializers/event.py
  website/events/api/v2/urls.py
  website/events/api/v2/views.py
  website/events/tests/test_api.py
  website/sales/api/v2/views.py
Labels: events, sales
