Repository svthalia/concrexit, pull requests merged in 2023-05, with the labels that each got.

#3044 Fix typos in documents page
  website/documents/templates/documents/index.html
Labels: documents

#3035 Remove language from pushnotifications Device
  website/pushnotifications/api/v1/viewsets.py
  website/pushnotifications/api/v2/views.py
  website/pushnotifications/migrations/0022_remove_device_language.py
  website/pushnotifications/models.py
Labels: push-notifications

#3068 Document API serializer returns signed cdn URL
  .pre-commit-config.yaml
  website/documents/api/v2/serializers/document.py
Labels: documents, api

#3070 Document API serializer returns signed cdn URL 2: Electric Boogaloo
  .pre-commit-config.yaml
  website/documents/api/v2/serializers/document.py
Labels: documents, api

#3033 Make public storage not need/use signed urls
  infra/terraform/concrexit/modules/cdn/main.tf
  infra/terraform/concrexit/modules/server/main.tf
  infra/terraform/stages/staging/.terraform.lock.hcl
  website/activemembers/templates/activemembers/board_index.html
  website/activemembers/templates/activemembers/membergroup_detail.html
  website/merchandise/fixtures/merchandiseitems.json
  website/merchandise/templates/merchandise/index.html
  website/merchandise/tests.py
  website/newsletters/emails.py
  website/newsletters/migrations/0017_newsletter_rendered_file.py
  website/newsletters/models.py
  website/newsletters/services.py
  website/newsletters/templates/newsletters/email.html
  website/newsletters/templates/newsletters/email.txt
  website/newsletters/urls.py
  website/newsletters/views.py
  website/partners/templates/partners/index.html
  website/partners/templates/partners/partner.html
  website/thaliawebsite/context_processors.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/storage/backend.py
  website/thaliawebsite/tests/test_website.py
  website/utils/management/commands/remove_unused_media.py
Labels: activemembers, newsletter, partners, merchandise

#3077 Face detection (with lambda)
  README.md
  infra/concrexit/cronjobs
  infra/env.public.production
  infra/env.public.staging
  infra/terraform/concrexit/main.tf
  infra/terraform/concrexit/modules/server/main.tf
  infra/terraform/concrexit/modules/server/variables.tf
  infra/terraform/concrexit/variables.tf
  infra/terraform/stages/production/main.tf
  infra/terraform/stages/staging/main.tf
  poetry.lock
  pyproject.toml
  website/facedetection/README.md
  website/facedetection/__init__.py
  website/facedetection/admin.py
  website/facedetection/api/__init__.py
  website/facedetection/api/facedetection/__init__.py
  website/facedetection/api/facedetection/urls.py
  website/facedetection/api/facedetection/views.py
  website/facedetection/apps.py
  website/facedetection/forms.py
  website/facedetection/management/commands/trigger_facedetection_lambda.py
  website/facedetection/migrations/0001_initial.py
  website/facedetection/migrations/__init__.py
  website/facedetection/models.py
  website/facedetection/services.py
  website/facedetection/signals.py
  website/facedetection/templates/facedetection/reference-face-upload.html
  website/facedetection/templates/facedetection/reference-faces.html
  website/facedetection/templates/facedetection/referenceface_confirm_delete.html
  website/facedetection/templates/facedetection/your-photos.html
  website/facedetection/templates/photos/index.html
  website/facedetection/urls.py
  website/facedetection/views.py
  website/photos/admin.py
  website/photos/templates/photos/index.html
  website/photos/urls.py
  website/photos/views.py
  website/registrations/tests/test_emails.py
  website/sales/tests/test_api.py
  website/singlepages/templates/singlepages/privacy_policy.html
  website/thaliawebsite/api/facedetection/__init__.py
  website/thaliawebsite/api/facedetection/urls.py
  website/thaliawebsite/api/urls.py
  website/thaliawebsite/management/commands/dataminimisation.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/storage/backend.py
  website/thaliawebsite/templates/simple_page.html
  website/thaliawebsite/templates/small_page.html
  website/thaliawebsite/urls.py
  website/utils/media/services.py
Labels: photos, registrations, singlepages, sales

#3092 Improve facedetection UI
  website/facedetection/services.py
  website/facedetection/templates/facedetection/reference-faces.html
  website/facedetection/templates/facedetection/referenceface_confirm_delete.html
  website/facedetection/templates/facedetection/your-photos.html
  website/facedetection/templates/photos/index.html
  website/facedetection/views.py
  website/photos/templates/photos/index.html
Labels: photos

#2998 Prefetch thumbnail metadata from database
  website/activemembers/views.py
  website/events/api/v2/serializers/event.py
  website/events/api/v2/views.py
  website/events/views.py
  website/members/api/v2/views.py
  website/members/views.py
  website/partners/api/v2/views.py
  website/partners/templatetags/frontpage_vacancies.py
  website/partners/templatetags/partner_banners.py
  website/partners/views.py
  website/photos/api/v2/views.py
  website/photos/views.py
  website/utils/media/services.py
Labels: activemembers, events, members, partners, photos

#3116 Made comparisson case insensitive.
  website/mailinglists/gsuite.py
Labels: mailinglists

#3090 Update the README.md and add CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
  website/activemembers/README.md
  website/members/README.md
  website/promotion/README.md
  website/shortlinks/README.md
  website/singlepages/README.md
  website/templates/README.md
Labels: activemembers, members, singlepages, promotion

#3129 Event slug validation
  website/events/models/event.py
Labels: events

#3131 Fix get_serializer overrides to deal with 0 parameters
  website/members/api/v2/views.py
  website/partners/api/v2/views.py
  website/photos/api/v2/views.py
Labels: members, partners, photos

#3136 Fix missing ordering on liked photos API
  website/photos/api/v2/views.py
Labels: photos

#3149 Fix event clean
  website/events/admin/event.py
  website/events/models/event.py
Labels: events
