Repository svthalia/concrexit, pull requests merged in 2023-06, with the labels that each got.

#3155 Hopefully fix moneybird throttling upon processing Thalia Pay batches
  website/payments/services.py
Labels: payments

#3174 Add MemberGroupShortSerializer and use in /api/v2/events
  website/activemembers/api/v2/serializers/member_group.py
  website/events/api/v2/serializers/event.py
Labels: activemembers, events

#3175 Moved EventDocuments from documents app to events app
  website/documents/admin.py
  website/documents/forms.py
  website/documents/migrations/0017_delete_eventdocument.py
  website/documents/models.py
  website/documents/services.py
  website/events/admin/documents.py
  website/events/forms.py
  website/events/migrations/0068_eventdocument.py
  website/events/models/documents.py
  website/events/services.py
Labels: documents, events

#3189 Remove typo in GSuite-only help text
  website/members/migrations/0046_alter_profile_email_gsuite_only.py
  website/members/models/profile.py
Labels: members

#3188 Make uncloseable announcements always appear
  website/announcements/context_processors.py
Labels: announcements

#3185 Don't pregenerate thumbnails for photos
  website/photos/admin.py
  website/photos/models.py
Labels: photos

#3115 Former member api
  website/members/api/v2/filters.py
  website/members/api/v2/views.py
Labels: members

#3202 added regex for first/last name in registration form
  website/registrations/migrations/0030_alter_registration_first_name_and_more.py
  website/registrations/models.py
  website/singlepages/templates/singlepages/responsible_disclosure.html
Labels: registrations, bug, singlepages

#3209 Replace django compressor
  .dockerignore
  .github/workflows/build.yaml
  .github/workflows/test.yaml
  Makefile
  infra/concrexit/Dockerfile
  infra/concrexit/docker-entrypoint.sh
  poetry.lock
  pyproject.toml
  website/documents/templates/documents/index.html
  website/education/templates/education/base.html
  website/education/templates/education/base_small.html
  website/education/templates/education/courses.html
  website/events/templates/events/admin/details.html
  website/events/templates/events/index.html
  website/facedetection/templates/facedetection/your-photos.html
  website/mailinglists/templates/admin/mailinglists/change_list.html
  website/members/templates/members/statistics.html
  website/newsletters/templates/admin/newsletters/change_form.html
  website/partners/templates/partners/partner.html
  website/partners/templates/partners/vacancies.html
  website/payments/templates/admin/payments/change_form.html
  website/payments/templates/admin/payments/change_list.html
  website/payments/templates/payments/bankaccount_form.html
  website/payments/templates/payments/bankaccount_list.html
  website/payments/templates/payments/payment_form.html
  website/payments/templates/payments/payment_list.html
  website/photos/templates/photos/album.html
  website/photos/templates/photos/index.html
  website/photos/templates/photos/liked-photos.html
  website/pizzas/templates/pizzas/admin/orders.html
  website/pushnotifications/templates/admin/pushnotifications/change_form.html
  website/pushnotifications/templates/admin/pushnotifications/event_message_form.html
  website/registrations/templates/admin/registrations/change_form.html
  website/registrations/templates/registrations/register_benefactor.html
  website/registrations/templates/registrations/register_member.html
  website/registrations/templates/registrations/renewal.html
  website/singlepages/templates/singlepages/student_participation.html
  website/templates/oauth2_provider/authorize.html
  website/templates/oauth2_provider/authorized-token-delete.html
  website/templates/oauth2_provider/authorized-tokens.html
  website/thabloid/templates/thabloid/index.html
  website/thaliawebsite/settings.py
  website/thaliawebsite/templates/base.html
Labels: documents, education, events, mailinglists, members, newsletter, partners, photos, pizzas, push-notifications, registrations, thabloid, payments, singlepages
