Repository svthalia/concrexit, pull requests merged in 2023-04, with the labels that each got.

#2930 API event slug support
  website/events/api/v2/serializers/event.py
  website/events/api/v2/urls.py
Labels: events, api, chore

#2968 Fix newsletter admin prefilling
  website/newsletters/static/admin/newsletters/js/forms.js
Labels: newsletter

#2975 Include bank account in moneybird sync
  website/moneybirdsynchronization/models.py
Labels: moneybirdsynchronization

#2974 Fix document count summary and exam
  website/education/views.py
Labels: education

#2979 Fix typo in is_minimized
  website/registrations/views.py
Labels: registrations

#2962 Fix escaped HTML in promorequest email
  website/promotion/emails.py
  website/promotion/templates/promotion/email/weekly_overview.html
  website/promotion/templates/promotion/email/weekly_overview.txt
Labels: promotion

#2985 Fix photo ordering lost after select_properties
  website/photos/api/v2/views.py
  website/photos/urls.py
  website/photos/views.py
Labels: photos

#2996 Add nowrap to event admin table header
  website/events/static/events/css/admin.scss
Labels: events

#2999 Simplify thabloids
  README.md
  infra/concrexit/Dockerfile
  website/newsletters/services.py
  website/thabloid/fixtures/thabloid-1998-1999-1.pdf
  website/thabloid/migrations/0007_thabloid_cover_alter_thabloid_file.py
  website/thabloid/models.py
  website/thabloid/static/thabloid/js/main.js
  website/thabloid/templates/thabloid/index.html
  website/thabloid/templatetags/thabloid_cards.py
  website/thabloid/tests/test_thabloid.py
  website/thabloid/urls.py
  website/thabloid/views.py
Labels: newsletter, thabloid

#3011 Fix newsletter image urls
  README.md
  website/activemembers/templates/activemembers/board_index.html
  website/activemembers/templates/activemembers/membergroup_detail.html
  website/activemembers/templatetags/activemembers_cards.py
  website/announcements/api/v1/serializers.py
  website/announcements/api/v2/serializers.py
  website/announcements/templatetags/slider.py
  website/documents/views.py
  website/education/views.py
  website/events/api/v1/serializers/event_registrations/list.py
  website/events/views.py
  website/members/api/v1/serializers.py
  website/members/api/v2/serializers/profile.py
  website/merchandise/templates/merchandise/index.html
  website/newsletters/templates/newsletters/email.html
  website/partners/templates/partners/banners.html
  website/partners/templates/partners/index.html
  website/partners/templates/partners/partner.html
  website/partners/templatetags/partner_banners.py
  website/partners/templatetags/partner_cards.py
  website/photos/api/v1/serializers.py
  website/photos/views.py
  website/thabloid/templatetags/thabloid_cards.py
  website/thaliawebsite/api/services.py
  website/thaliawebsite/api/v2/serializers/thumbnail.py
  website/thaliawebsite/context_processors.py
  website/thaliawebsite/settings.py
  website/utils/media/services.py
  website/utils/templatetags/thumbnail.py
Labels: activemembers, announcements, documents, education, events, members, newsletter, partners, photos, thabloid, merchandise

#2997 Implement rate-limiting
  poetry.lock
  pyproject.toml
  website/payments/tests/test_admin_views.py
  website/registrations/tests/test_views.py
  website/singlepages/templates/singlepages/responsible_disclosure.html
  website/thaliawebsite/settings.py
  website/thaliawebsite/urls.py
  website/thaliawebsite/views.py
Labels: registrations, payments, singlepages

#3000 Moneybird sync improvements
  website/moneybirdsynchronization/models.py
  website/moneybirdsynchronization/signals.py
Labels: moneybirdsynchronization

#3027 Fix more moneybird sync errors
  website/moneybirdsynchronization/models.py
Labels: moneybirdsynchronization

#2969 Fix event cancellation and other mail improvements
  website/activemembers/admin.py
  website/activemembers/models.py
  website/events/admin/forms.py
  website/events/emails.py
  website/mailinglists/services.py
Labels: activemembers, events, mailinglists, bug, chore

#3049 Don't sync empty contacts with Moneybird
  website/moneybirdsynchronization/signals.py
Labels: moneybirdsynchronization
