Repository svthalia/concrexit, pull requests merged in 2023-03, with the labels that each got.

#2838 Linkedin link
  website/newsletters/templates/newsletters/email.html
  website/thaliawebsite/templates/base.html
Labels: newsletter

#2796 Move Event.slide to Slide.event
  README.md
  website/announcements/admin.py
  website/announcements/migrations/0014_slide_linked_event.py
  website/announcements/migrations/0015_remove_slide_linked_event_slide_event.py
  website/announcements/models.py
  website/announcements/templates/events/event.html
  website/events/admin/event.py
  website/events/api/v1/serializers/events/list.py
  website/events/api/v1/serializers/events/retrieve.py
  website/events/api/v2/admin/serializers/event.py
  website/events/api/v2/serializers/event.py
  website/events/migrations/0064_remove_event_slide.py
  website/events/models/event.py
  website/events/templates/events/event.html
  website/thaliawebsite/settings.py
Labels: announcements, events

#2846 Fix request.member evaluated too early in API calls
  website/announcements/context_processors.py
  website/announcements/middleware.py
  website/members/apps.py
Labels: priority: high, announcements, members, api, bug

#2782 Add "oldmembers" mailinglist
  website/mailinglists/models.py
  website/mailinglists/services.py
  website/mailinglists/templates/admin/mailinglists/change_list.html
  website/mailinglists/tests/test_gsuite.py
  website/members/admin.py
  website/members/forms.py
  website/members/migrations/0043_profile_receive_oldmembers.py
  website/members/models/profile.py
Labels: feature, mailinglists, members

#2794 Django thumbnails
  poetry.lock
  pyproject.toml
  website/activemembers/fixtures/member_groups.json
  website/activemembers/migrations/0042_alter_membergroup_photo.py
  website/activemembers/models.py
  website/members/migrations/0044_alter_profile_photo.py
  website/members/models/profile.py
  website/members/templatetags/member_card.py
  website/merchandise/migrations/0010_alter_merchandiseitem_image.py
  website/merchandise/models.py
  website/partners/migrations/0027_alter_partner_alternate_logo_alter_partner_logo_and_more.py
  website/partners/models.py
  website/photos/migrations/0019_alter_photo_file.py
  website/photos/models.py
  website/photos/templatetags/photos_cards.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/tests/test_models.py
  website/thaliawebsite/urls.py
  website/utils/management/commands/createfixtures.py
  website/utils/media/services.py
  website/utils/media/views.py
Labels: activemembers, members, partners, photos, merchandise

#2859 Change order on well-being page
  website/singlepages/templates/singlepages/student_well-being.html
Labels: singlepages

#2857 Re-add "Become a member" link to menu
  website/registrations/apps.py
Labels: registrations

#2853 Include query string in partnerevents API redirect
  website/partners/api/v2/urls.py
Labels: partners

#2841 Make Slide.url fall back to the linked event
  website/announcements/migrations/0016_rename_url_slide_custom_url.py
  website/announcements/models.py
Labels: announcements

#2855 Added change-event button for admins to events
  website/events/templates/events/event.html
Labels: events, feature

#2858 People from the future can no longer register
  website/registrations/models.py
  website/registrations/tests/test_models.py
Labels: registrations

#2869 Address promo requests overview email to promocie
  website/promotion/templates/requests/weekly_overview.txt
  website/thaliawebsite/settings.py
Labels: promotion

#2862 Fix 500 on edit-information-fields admin
  website/events/admin/views.py
Labels: events, bug

#2865 Generate model relation diagram in CI
  .github/workflows/generate_models_graph.yaml
  poetry.lock
  pyproject.toml
  website/thaliawebsite/settings.py
Labels: docs, ci

#2800 Decouple pushnotifications
  .codeclimate.yml
  README.md
  website/events/admin/event.py
  website/events/admin/inlines.py
  website/events/admin/views.py
  website/events/forms.py
  website/events/migrations/0065_remove_event_registration_reminder_and_more.py
  website/events/models/event.py
  website/events/models/event_registration.py
  website/events/templates/events/admin/details.html
  website/newsletters/services.py
  website/newsletters/signals.py
  website/photos/forms.py
  website/photos/migrations/0020_remove_album_new_album_notification.py
  website/photos/models.py
  website/pizzas/admin.py
  website/pizzas/api/v2/admin/serializers/food_event.py
  website/pizzas/apps.py
  website/pizzas/migrations/0018_remove_foodevent_end_reminder.py
  website/pizzas/models.py
  website/pizzas/signals.py
  website/pushnotifications/admin.py
  website/pushnotifications/apps.py
  website/pushnotifications/forms.py
  website/pushnotifications/migrations/0021_registrationremindermessage_newalbummessage_and_more.py
  website/pushnotifications/models.py
  website/pushnotifications/signals/__init__.py
  website/pushnotifications/signals/events.py
  website/pushnotifications/signals/newsletters.py
  website/pushnotifications/signals/photos.py
  website/pushnotifications/signals/pizzas.py
  website/pushnotifications/templates/admin/pushnotifications/event_message_form.html
  website/pushnotifications/templates/events/admin/details.html
  website/pushnotifications/tests.py
  website/pushnotifications/tests/__init__.py
  website/pushnotifications/tests/test_events.py
  website/pushnotifications/tests/test_newsletters.py
  website/pushnotifications/tests/test_photos.py
  website/pushnotifications/tests/test_pizzas.py
Labels: events, newsletter, photos, pizzas, push-notifications, chore

#2875 Fix a small bug introduced in #2768
  website/payments/admin.py
Labels: payments

#2839 Create event URL slugs
  pyproject.toml
  website/events/admin/event.py
  website/events/api/calendarjs/serializers.py
  website/events/feeds.py
  website/events/migrations/0066_event_slug.py
  website/events/models/event.py
  website/events/static/events/js/slug-prepopulate.js
  website/events/templates/admin/events/event/change_form.html
  website/events/urls.py
  website/newsletters/templates/newsletters/email.html
  website/utils/management/commands/createfixtures.py
Labels: events, newsletter

#2900 Fix faulty Generate model relation diagram in CI (#2865) dependencies and revert the revert
  .github/workflows/generate_models_graph.yaml
  poetry.lock
  pyproject.toml
  website/thaliawebsite/settings.py
Labels: bug

#2903 Fix ordering of photos
  website/photos/migrations/0021_alter_photo_options.py
  website/photos/models.py
Labels: photos

#2905 Fix thumbnail sizes
  website/photos/api/v2/serializers/photo.py
  website/photos/models.py
  website/thaliawebsite/settings.py
Labels: photos

#2918 Reintroduce organiser inline in EventAdmin
  website/events/admin/event.py
Labels: events
