Repository svthalia/concrexit, pull requests merged in 2023-09, with the labels that each got.

#3021 Remove conscribo sync completely
  docs/utils.conscribo.rst
  docs/utils.rst
  infra/concrexit/cronjobs
  website/members/management/commands/conscribosync.py
  website/thaliawebsite/settings.py
  website/utils/conscribo/__init__.py
  website/utils/conscribo/api.py
  website/utils/conscribo/objects.py
Labels: members

#3216 Implement app-based user menu
  website/members/apps.py
  website/payments/apps.py
  website/registrations/apps.py
  website/thaliawebsite/apps.py
  website/thaliawebsite/templates/base.html
  website/thaliawebsite/templates/menu/usermenu.html
  website/thaliawebsite/templatetags/menu.py
Labels: members, registrations, payments

#3319 Fix board members not shown in admin
  website/activemembers/admin.py
  website/activemembers/backends.py
  website/activemembers/services.py
  website/members/admin.py
  website/members/models/member.py
  website/payments/services.py
Labels: activemembers, members, payments

#3350 Deleted hidden photos
  website/facedetection/views.py
  website/photos/admin.py
  website/photos/api/v1/serializers.py
  website/photos/api/v2/serializers/photo.py
  website/photos/migrations/0023_remove_photo_hidden.py
  website/photos/models.py
  website/photos/views.py
Labels: photos

#3351 3325 handle invalid filter values
  website/events/api/v2/admin/filters.py
  website/payments/api/v2/filters.py
  website/sales/api/v2/filters.py
Labels: events, payments, sales

#3343 Try to get contact by customer_id before pushing new contact
  website/moneybirdsynchronization/models.py
  website/moneybirdsynchronization/moneybird.py
  website/moneybirdsynchronization/services.py
Labels: moneybirdsynchronization

#3229 Optimize member API views
  website/members/api/v2/views.py
  website/members/models/member.py
Labels: members

#3366 Promotion publish reminder
  infra/concrexit/cronjobs
  website/promotion/admin.py
  website/promotion/emails.py
  website/promotion/management/commands/sendpromodailyoverview.py
  website/promotion/migrations/0004_promotionchannel_publisher_reminder_email.py
  website/promotion/models.py
  website/promotion/templates/promotion/email/daily_overview.txt
Labels: feature, promotion

#3368 Fix concurrent payments
  website/events/services.py
  website/payments/admin_views.py
  website/payments/api/v1/viewsets/payments.py
  website/payments/api/v2/admin/views.py
  website/payments/api/v2/views.py
  website/payments/services.py
  website/payments/views.py
  website/registrations/services.py
  website/registrations/tests/test_signals.py
Labels: events, registrations, payments

#3355 Optimize latest memberships everywhere
  website/events/api/v2/views.py
  website/events/models/__init__.py
  website/members/api/calendarjs/views.py
  website/members/models/member.py
  website/photos/tests/test_services.py
  website/registrations/models.py
  website/registrations/services.py
  website/registrations/tests/test_models.py
  website/registrations/tests/test_services.py
Labels: events, members, photos, registrations

#3384 events/admin: disable delete if not organiser
  website/events/admin/event.py
Labels: events, security

#3390 Check that deletion is forbidden in event admin tests
  website/events/tests/test_views.py
Labels: events

#3405 Update Ruff to 0.0.291
  poetry.lock
  pyproject.toml
  website/facedetection/models.py
  website/mailinglists/gsuite.py
  website/moneybirdsynchronization/administration.py
  website/payments/admin.py
  website/payments/services.py
  website/registrations/tests/test_models.py
  website/utils/media/services.py
Labels: mailinglists, registrations, payments, chore, moneybirdsynchronization

#3406 Improve moneybird typing and exception logging
  website/moneybirdsynchronization/administration.py
  website/moneybirdsynchronization/models.py
  website/moneybirdsynchronization/moneybird.py
  website/moneybirdsynchronization/services.py
  website/moneybirdsynchronization/signals.py
  website/thaliawebsite/settings.py
Labels: moneybirdsynchronization
