Repository svthalia/concrexit, pull requests merged in 2023-02, with the labels that each got.

#2793 Made it so that the save buttons disable when images are uploading
  website/photos/static/photos/js/upload_handler.js
  website/photos/templates/admin/photos/change_form.html
Labels: photos

#2726 Add liked photos API
  website/photos/api/v2/urls.py
  website/photos/api/v2/views.py
Labels: photos

#2808 fix missing organiser email
  website/events/emails.py
  website/events/templates/events/member_email.txt
Labels: events

#2817 Use correct url for the website of Study Association via
  website/singlepages/templates/singlepages/sibling_associations.html
Labels: singlepages, chore

#2807 Update django_filepond_widget to version 0.9.0
  poetry.lock
  website/photos/static/photos/js/upload_handler.js
  website/photos/templates/admin/photos/change_form.html
Labels: photos

#2820 Fix bugs related to multiple organisers
  website/events/emails.py
  website/events/templates/events/admin/details.html
  website/events/templates/events/more_places_email.txt
Labels: priority: low, events, bug

#2824 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: chore, dependency-update

#2826 Added settled filter to payments api
  website/payments/api/v2/filters.py
  website/payments/api/v2/views.py
  website/payments/tests/api/v2/__init__.py
  website/payments/tests/api/v2/test_views.py
Labels: payments
