Repository svthalia/concrexit, pull requests merged in 2023-10, with the labels that each got.

#3407 Set registration queue_position=None when cancelled
  website/events/models/event_registration.py
  website/events/tests/test_models.py
Labels: events

#3394 Use celery
  .gitignore
  README.md
  infra/concrexit/Dockerfile
  infra/concrexit/cronjobs
  infra/concrexit/server-entrypoint.sh
  infra/concrexit/worker-entrypoint.sh
  infra/docker-compose.yml
  infra/env.public.production
  infra/env.public.staging
  poetry.lock
  pyproject.toml
  website/activemembers/management/commands/delete_gsuite_users.py
  website/activemembers/management/commands/revoke_staff.py
  website/activemembers/tasks.py
  website/events/apps.py
  website/events/models/event_registration.py
  website/events/signals.py
  website/events/tasks.py
  website/facedetection/tasks.py
  website/mailinglists/management/commands/sync_mailinglists.py
  website/mailinglists/tasks.py
  website/members/management/commands/sendexpirationnotification.py
  website/members/management/commands/sendinformationcheck.py
  website/members/management/commands/sendmembershipnotification.py
  website/members/tasks.py
  website/members/tests/test_services.py
  website/newsletters/management/commands/sendplannednewsletters.py
  website/newsletters/tasks.py
  website/payments/management/commands/revokeoldmandates.py
  website/payments/tasks.py
  website/payments/tests/test_commands.py
  website/payments/tests/test_tasks.py
  website/promotion/management/commands/sendpromorequestoverview.py
  website/promotion/tasks.py
  website/pushnotifications/management/commands/send_scheduled_messages.py
  website/pushnotifications/tasks.py
  website/registrations/tasks.py
  website/registrations/tests/test_tasks.py
  website/thaliawebsite/__init__.py
  website/thaliawebsite/celery.py
  website/thaliawebsite/settings.py
  website/thaliawebsite/tasks.py
  website/thaliawebsite/tests/test_celery.py
Labels: activemembers, events, mailinglists, members, newsletter, push-notifications, registrations, payments, promotion

#3417 Paid by none payments
  website/payments/migrations/0023_alter_payment_paid_by.py
  website/payments/migrations/0024_alter_payment_paid_by.py
  website/payments/models.py
  website/payments/tests/test_models.py
Labels: payments

#3380 Issue 3291: Strip spaces in phone number inputs
  website/members/forms.py
  website/registrations/forms.py
  website/registrations/tests/test_forms.py
Labels: members, registrations

#3383 Committee chair permission
  website/activemembers/admin.py
  website/activemembers/backends.py
  website/activemembers/migrations/0043_membergroup_chair_permissions_and_more.py
  website/activemembers/models.py
  website/activemembers/tests.py
  website/members/fixtures/members.json
  website/payments/tests/test_admin.py
Labels: activemembers, members, payments

#3422 Remove ObtainThaliaAuthToken view
  website/members/views.py
  website/thaliawebsite/api/v1/urls.py
Labels: members

#3421 Add priority field to product list item
  website/sales/migrations/0007_alter_productlistitem_options_and_more.py
  website/sales/models/product.py
Labels: sales

#3324 Overhaul image processing
  website/activemembers/models.py
  website/facedetection/models.py
  website/members/models/profile.py
  website/merchandise/models.py
  website/partners/models.py
  website/photos/admin.py
  website/photos/management/commands/link_album_events_read.py
  website/photos/management/commands/link_album_events_write.py
  website/photos/management/commands/unrotateimages.py
  website/photos/migrations/0025_alter_photo__digest.py
  website/photos/models.py
  website/photos/services.py
  website/photos/tests/test_admin.py
  website/photos/tests/test_services.py
  website/photos/tests/test_views.py
  website/thabloid/migrations/0009_alter_thabloid_cover.py
  website/thabloid/models/thabloid.py
  website/thaliawebsite/settings.py
  website/utils/media/processors.py
  website/utils/media/services.py
Labels: activemembers, feature, members, partners, photos, thabloid, merchandise

#3425 Redis cache
  infra/env.public.production
  infra/env.public.staging
  website/activemembers/views.py
  website/events/api/v2/views.py
  website/events/views.py
  website/members/api/v2/views.py
  website/members/views.py
  website/partners/api/v2/views.py
  website/partners/templatetags/partner_banners.py
  website/partners/views.py
  website/photos/api/v2/views.py
  website/photos/views.py
  website/thaliawebsite/settings.py
  website/utils/media/services.py
Labels: app:activemembers, app:events, feature, app:members, app:partners, app:photos
