Repository svthalia/concrexit, pull requests merged in 2023-01, with the labels that each got.

#2638 Make profile fields blankable
  website/members/forms.py
  website/members/migrations/0042_profile_is_minimized_alter_profile_address_city_and_more.py
  website/members/models/profile.py
  website/members/services.py
  website/registrations/tests/test_views.py
Labels: members, registrations, chore

#2769 Limit price changes if participants exist
  website/events/models/event.py
Labels: events

#2768 Make apps depend on settings.AUTH_USER_MODEL instead of Member model
  README.md
  website/education/migrations/0015_alter_exam_uploader_alter_summary_uploader.py
  website/education/models.py
  website/payments/admin.py
  website/payments/migrations/0020_alter_payment_paid_by_alter_payment_processed_by.py
  website/payments/models.py
  website/payments/tests/test_admin.py
  website/payments/tests/test_models.py
  website/photos/migrations/0018_alter_like_member.py
  website/photos/models.py
  website/sales/models/order.py
Labels: education, photos, payments, sales

#2639 Add createmember management command
  Makefile
  README.md
  website/members/management/commands/createmember.py
Labels: members, chore

#2460 Fix local partners in newsletter
  website/newsletters/emails.py
  website/newsletters/services.py
  website/newsletters/templates/newsletters/email.html
  website/newsletters/views.py
Labels: newsletter

#2780 Remove newsletter and merchandise dependency on payments
  README.md
  website/merchandise/migrations/0009_alter_merchandiseitem_price.py
  website/merchandise/models.py
  website/newsletters/migrations/0016_alter_newsletterevent_penalty_costs_and_more.py
  website/newsletters/models.py
Labels: newsletter, merchandise

#2717 Fix summary and exam download
  website/education/views.py
  website/utils/media/services.py
Labels: education
