Repository svthalia/concrexit, pull requests merged in 2024-01, with the labels that each got.

#3555 Limit membergrouppermissions when no membership
  website/activemembers/backends.py
  website/activemembers/tests.py
  website/members/models/member.py
  website/members/models/membership.py
Labels: feature

#3528 Fixed Album Pagination Erasing Search Terms
  website/thaliawebsite/templates/paginated_page.html
  website/thaliawebsite/views.py
Labels: bug

#3574 Fix moneybird send invoices to email #3537
  website/moneybirdsynchronization/services.py
Labels: bug, app:moneybirdsynchronization

#3484 Update merchandise pages layout
  website/merchandise/templates/merchandise/index.html
  website/merchandise/templates/merchandise/product_page.html
  website/merchandise/urls.py
  website/merchandise/views.py
Labels: style, app:merchandise
