Repository svthalia/concrexit, pull requests merged in 2024-08, with the labels that each got.

#3764 Fix incorrect template location
  website/photos/templates/photos/email/upload-processed.txt
Labels: app:photos, bug

#3757 Fix board detail api returning non-boards
  website/activemembers/api/v2/views.py
Labels: bug

#3737 Payment.payable_object property to get payable
  website/events/payables.py
  website/moneybirdsynchronization/admin.py
  website/payments/admin.py
  website/payments/models.py
  website/payments/payables.py
  website/payments/tests/api/v1/test_viewsets_payments.py
  website/payments/tests/test_admin.py
  website/payments/tests/test_admin_views.py
  website/payments/tests/test_models.py
  website/payments/tests/test_payables.py
  website/payments/tests/test_services.py
  website/payments/tests/test_views.py
  website/payments/tests/test_widgets.py
  website/pizzas/payables.py
  website/registrations/migrations/0033_remove_entry_payment_registration_payment_and_more.py
  website/registrations/models.py
  website/registrations/payables.py
  website/sales/payables.py
Labels: feature

#3618 change date information check email
  website/members/templates/members/email/information_check.html
  website/members/templates/members/email/information_check.txt
  website/thaliawebsite/settings.py
Labels: chore

#3650 Import events into newsletter
  website/newsletters/admin.py
  website/newsletters/forms.py
  website/newsletters/migrations/0018_alter_newsletterevent_penalty_costs.py
  website/newsletters/models.py
  website/newsletters/templates/admin/newsletters/change_form.html
  website/newsletters/templates/newsletters/admin/import_events.html
  website/newsletters/tests.py
  website/newsletters/urls.py
  website/newsletters/views.py
Labels: feature, app:newsletter

#3777 Fix current membership is inactive future membership
  website/activemembers/tests.py
  website/events/api/v2/views.py
  website/facedetection/api/v2/views.py
  website/facedetection/views.py
  website/members/api/calendarjs/views.py
  website/members/api/v2/views.py
  website/members/apps.py
  website/members/models/member.py
  website/members/tests/test_models.py
  website/photos/services.py
  website/registrations/forms.py
  website/registrations/services.py
  website/registrations/tests/test_forms.py
  website/registrations/tests/test_services.py
Labels: app:members, app:registrations, bug

#3781 Handle sending moneybird sync error with any object
  website/moneybirdsynchronization/emails.py
Labels: bug, app:moneybirdsynchronization

#3784 Fix crash processing tpay payment on unclaimed sales order
  website/payments/views.py
Labels: bug, app:payments

#3782 Validate that BIC is required for foreign bank account at registration
  website/registrations/models.py
  website/registrations/tests/test_models.py
Labels: bug, app:moneybirdsynchronization
